[2015-10-14 20:13] madeleine-b opened #9 "Allow avatar customization"

[2015-10-14 20:26] madeleine-b opened #10 "Add debriefing after each level/scenario"
While the iPod scenario currently has a brief summary of the outcome, there should be a page that goes over the lessons taught in the scenario. For the iPod scenes, this could be talking about how to communicate assertively and use "I" statements. For the unprotected level, this could cover the importance of communication between partners and positivity towards safe sex and that there are high ris

[2015-10-14 20:32] madeleine-b opened #11 "Add contextual labels to each screen"
Like "Map/Journey", "iPod Troubles", etc.

[2015-10-14 20:33] madeleine-b opened #12 "Home icon is cut off on map with iPhones before iPhone 6 Plus"
The home icon on the map is cut off on smaller screen sizes. To fix, have the map and icon images separately and put icon as image for a button (which is constrained to upper right corner).

[2015-10-14 20:59] steminist commented on #10
Text for sex level debriefing:
"Whether or not Rosie and Marco choose to have sex is completely their decision, as long as there is clear communication, explicit mutual consent and a safe sex policy. In this scenario, since Marco did not have condoms, going home was the correct decision. Unprotected sex can lead to sexually transmitted diseases and unwanted pregnancy. "

We want to make sure that

[2015-11-28 03:15] MeepyMay opened #13 "Test1"
checking if slack integration is working.

[2015-11-28 03:15] #13 closed

[2015-12-11 06:03] jenpaff opened #16 "Go to the map activity after finishing in the change room"
DevChange made in the Android App:

Currently, after clicking continue in the change room, the user is redirected to the conversation activity. Instead, change it to redirect to the map activity.

[2015-12-11 06:09] jenpaff opened #17 "Force new user when played for the first time"
DevChange made in Android App:

When the app starts for the first time, the user should be directed to the changing room directly

[2016-03-18 12:44] imaculate opened #19 "With a new user, app uses previous data"
I think it a user , starts a new user ,it should start with a clean slate, not remembering where the previous user left off.

[2016-03-18 12:46] imaculate commented on #19
@chhavip Can I go ahead with this?

[2016-03-18 13:54] chhavip commented on #19
@imaculate, this is power up iOS repository, I am reviewer for the android one, please reach out to iOS reviewers.

[2016-06-15 17:19] jenpaff commented on #9
@sanyajain Please add a more detailed description: what are the main changes? is there a PR link? would also be useful to add labels and milestone it belongs to.

[2016-06-19 19:01] sanyajain commented on #9
@jenpaff Thanks for the suggestion. Done (y)

[2016-06-19 19:03] sanyajain commented on #9
Following functionalities have been added:
1. Creation of dressing room-1 that appears after the user clicks on "New User" on Start Screen. The user can customise the Avatar look by choosing eyes, hair, clothes, face for the Avatar.
The link to PR: https://github.com/systers/powerup-iOS/pull/20
Following are the screenshots of the dressing room screen-1:
![screen shot 2016-06-11 at 3 04 24 am](htt

[2016-06-24 11:35] jenpaff commented on #11
@madeleine-b Can you please give a more detailed description of this issue?

[2016-06-24 11:44] jenpaff opened #22 "2nd level should be opened after completing 1st level"

[2016-06-24 11:45] jenpaff opened #23 "Avatar table in Database"
Do we need an avatar table in our database? And is yes, what fields should be included in the table?

[2016-06-25 20:12] madeleine-b commented on #11
@jenpaff It's been a little while since I looked at the app, but from what I recall, I meant that it would be helpful to have a label on every screen reminding the user what scenario they're playing or if they're looking at the map or avatar customization screen, etc. I think this could also help with accessibility so that someone using a screen reader would always know where they were in the app.

[2016-07-06 09:46] jenpaff opened #25 "2nd dressing room"
Having completed level1, accessories can be bought using the points received and chosen in the 2nd-dressing room (this is already implemented!).

These accessories, as well as changes made in the current avatar (user can change hairstyle or clothes at the same time), should be carried through in the following levels.

[2016-07-06 09:51] jenpaff opened #26 "Points system"
Points are received for making 'good' decisions during the game. These can be used to buy accessories for the avatar.

[2016-07-26 04:50] sanyajain commented on #26
#28

[2016-07-26 04:53] sanyajain commented on #23
An Avatar Table exists in the mainDatabase.sqlite file. It has the following attributes:
1. ID
2. Face
3. Clothes
4. Hair
5. Eyes

[2016-07-26 05:02] sanyajain commented on #17
Already implemented in PR #21. When user clicks 'New User' on Start Screen,user is directed to Dressing Room-1 directly.
When the app is launched for the first time, user is forced to hit New User first. If user clicks Start, an alert message pops up directing user to hit New User first. This is implemented in PR #28

[2016-07-26 05:03] sanyajain commented on #9
Implemented in PR #21 .
@jenpaff I think this issue can be closed now.

[2016-08-18 15:04] sanyajain commented on #16
@jenpaff I have made the changes and now the user is directed to the map screen after the Dressing Room-1 screen

[2016-10-27 17:35] lovett2 commented on #11
I'll take a look at this.

[2016-12-19 18:38] sarayd opened #37 "Character avatar bug"
![screen shot 2016-12-19 at 10 38 00 am](https://cloud.githubusercontent.com/assets/16440070/21324593/44ae7508-c5d7-11e6-81f9-8f18614b16a5.png)
![screen shot 2016-12-19 at 10 37 54 am](https://cloud.githubusercontent.com/assets/16440070/21324592/44abd8a2-c5d7-11e6-815a-bdaae96f6013.png)

[2016-12-19 18:44] sarayd opened #38 "Redundant Health Bar"
In the dressing room scene, there are two health bars. The wooden one does not appear in the Android version.
![screen shot 2016-12-19 at 10 42 57 am](https://cloud.githubusercontent.com/assets/16440070/21324784/13e45590-c5d8-11e6-9fcb-bdb41ca8df8f.png)

[2017-01-02 10:58] YashBit commented on #22
Can this task please be assigned to me ?

[2017-01-02 12:19] YashBit commented on #22
@jenpaff  Can this task please be assigned to me ?

[2017-01-02 14:23] sanyajain commented on #22
Hello @YashBit ! Yeah, you can assign this issue to yourself if you want to work for it :)

[2017-01-02 20:15] sanyajain opened #40 "Newly created Avatar not saved"
In certain instances of the game, newly created character is not saved and only body framework of Avatar is displayed. This usually happens when we click Start button to go to a previous instance of the game.

![screen shot 2017-01-03 at 1 34 40 am](https://cloud.githubusercontent.com/assets/11500519/21595554/22398df8-d155-11e6-9929-b328f196ad35.png)
![screen shot 2017-01-03 at 1 46 15 am](https:/

[2017-01-03 03:17] YashBit commented on #22
@sanyajain I will solve the bug of the disappearing UI image .
Could you please send a link to a BUG task for PWR ?
Thanks .

[2017-01-03 03:24] YashBit commented on #22
@sanyajain  If the code is okay ,why wasn't the PR merger (Just Curious :) ! )

https://github.com/systers/powerup-iOS/pull/39

[2017-01-03 16:45] sanyajain commented on #22
@YashBit I will ask others also to review the code (just to be sure!) and then the PR will be merged.

[2017-01-05 15:45] YashBit commented on #37
@sanyajain  Is this okay ?
https://github.com/systers/powerup-iOS/pull/41

[2017-01-07 07:56] sanyajain commented on #37
@YashBit There is no overlapping of hairstyles but the neck disappears. I am attaching its screenshot.
![screen shot 2017-01-07 at 1 23 07 pm](https://cloud.githubusercontent.com/assets/11500519/21740325/d431b118-d4dc-11e6-8ae3-6597e5de9750.png)

[2017-01-07 09:42] YashBit commented on #37
Ok , I will improve interface
. But do the new images overlay on background 1 or is it just the hair image ?

[2017-01-09 02:10] YashBit commented on #40
@sanyajain Can this task be assigned to me ?

[2017-01-09 12:08] YashBit commented on #40
@sanyajain  So this happens when we have created a new user . After that we go back to the start screen and then go to the map right ?

[2017-01-09 14:05] sanyajain commented on #40
@YashBit When you click on Start button and go to level-1 and 2, then this happens

[2017-01-09 14:29] YashBit commented on #40
@sanyajain Sorry , I just need some clarification . This bug is related to when a new user has been created . And then the user goes to the start screen and then level 1 or 2  right ?
I have this condition because anyways when a user Is not created all the default images are the ones without the head . So the problems is even though the user has created a new user all the default images return due

[2017-01-09 17:29] sanyajain commented on #40
@YashBit The way this is supposed to work is as follows:
New User creates a new Avatar and the user can play the levels with that Avatar. When user goes to the Start Screen, if you hit Start- previously created Avatar appears on the screen and previous instance of the game is restored. If you hit New User, you create a new Avatar and a fresh game can be played(with the newly created Avatar).
Now,

[2017-01-11 17:27] YashBit commented on #40
@sanyajain  Is this okay ?
https://github.com/systers/powerup-iOS/pull/49

[2017-01-14 12:34] sanyagithub opened #51 "Enhancement of Left and Right button while Avatar Customization"
The left and right buttons of the hair, eyes, clothes and face stop when they reach the end points of the hair, eyes, clothes and face image arrays respectively. The right button should come back to the first image in the array after it reaches the end of the images and the left button should go to the end of the array after it reaches the first image. This can maintain the flow of the application

[2017-01-15 09:36] sanyagithub opened #53 "Design Issue in iPhone 7 and iPhone 7 Plus"
iPhone 7
![screen shot 2017-01-15 at 3 03 19 pm](https://cloud.githubusercontent.com/assets/5487176/21961602/f7e00030-db33-11e6-823d-0df89817a045.png)
iPhone 7 Plus
![screen shot 2017-01-15 at 3 03 44 pm](https://cloud.githubusercontent.com/assets/5487176/21961606/029447ca-db34-11e6-8baa-15e4dcfaad22.png)

[2017-02-08 16:07] jacqueline8711 opened #54 "Change clothes to match Android"
the clothes have been changed in the android version of the app so the shoes are not translucent anymore. To keep the Android and iOS version the same they should probably be replaced here too.
Can I make a PR for this?

Android PR: https://github.com/systers/powerup-android/pull/301/files

[2017-02-26 14:41] Aviral190694 commented on #53
Hi, I would like to solve this bug. Though we need a discussion regarding this specific bug because till the date there is no Autolayout constraint being set. I set the background parameters well. It looks fine right now but as the code and game improves we need more auto layout constraints.

[2017-03-01 15:08] casd82 opened #56 "The code should be restructured"
Currently, the question sets and scenes are rather hard-coded. There are many classes with almost the same code. (especially the classes below)

![2017-03-01 10 10 14](https://cloud.githubusercontent.com/assets/12479866/23465585/ac4be7ec-fed3-11e6-8485-15f143c09d30.png)

The multiple "Choices" UIControlViews should be rewritten in one.

[2017-03-01 15:19] Aviral190694 commented on #56
Yes, Also a Class is also required which handles the Database operations. Currently, every controller has database code which is unnecessary.

[2017-03-01 15:28] Aviral190694 commented on #56
Yes. I too want to edit a couple of things. The project needs some work. There is no Autolayout in the storyboard. There is no use of having a Navigation Controller in the beginning.

[2017-03-13 22:07] rathishubham7 opened #57 "Layout issues in iPad ."
![simulator screen shot 14-mar-2017 3 30 37 am](https://cloud.githubusercontent.com/assets/16849485/23877160/fa3396fc-0866-11e7-974c-46797d1021de.png)
As you can see there is layout issue in iPad( also #53 ). i'd like to add autolayout parameters to it . should i submit a PR for this ?

[2017-03-20 19:50] yvsssantosh opened #58 "Error in Creating an Avatar for a new User."
**Steps to reproduce the bug**

1. Install app for the first time.

2. Click on **Start** button
     (We will get an alert asking to create a new user)

3.  Click on **New User** button

4. Navigate back to the home page without creating a user.

5. Click on **Start Button**

6. Navigates to the map but the user is not created ... Resulting an inappropriate user image.

The following is the scree

[2017-03-21 07:44] yvsssantosh opened #59 "Level 1 ending should have a Portrait screen"
**Steps to reproduce**

1. Open the PowerUp iOS app and click on **Start** button

2. Enter level 1 from map and play the level

3. Depending on various responses the level will reach to a conclusion

4. The last screen gets tilted automatically tilted to Landscape view than Portrait view

Here is the last screen
![screen shot 2017-03-21 at 2 54 30 am](https://cloud.githubusercontent.com/assets/11

[2017-03-22 07:33] rathishubham7 commented on #57
I am a GSoC student . Can i sumbit a PR for this ?

[2017-03-22 12:58] Aviral190694 commented on #57
@rathishubham7 are you referenced this issue is exactly similar to https://github.com/systers/powerup-iOS/issues/53.  The storyboard needs Autolayout for every view. I did the Auto layout but can't push the code yet. Soon iOS mentors will be available to let us push :)

[2017-03-22 13:01] rathishubham7 commented on #57
ok great . :)

[2017-03-22 13:01] #57 closed

[2017-03-22 13:02] Aviral190694 commented on #59
@yvsssantosh I don't think so this is a bug at all. This is an added functionality as the designer here wants to show the updation of health, powers and user karma.
Though we should prefer to keep whole app either landscape or portrait.

[2017-03-22 18:21] yvsssantosh commented on #59
@Aviral190694
I think it indicates inconsistency in the app and needs to be taken care of.
Please correct me if I am wrong :)

[2017-03-23 02:32] yashnak2 commented on #56
(I am a GSoC aspirant)
I would restructure the code by having one Choices class where all of the repetitive code is written in this one class, and each scene inherits from it. This would increase code readability and efficiency.

[2017-03-23 14:41] Aviral190694 opened #60 "Need a single class file for FMDB wrapper and Data models for different Database queries."
Currently, every controller open the database and then query and parse the results in the controller itself which should be done via a single class or a singleton class to be apt as data won't change.

I am a GSOC'17 Student. I have implemented Autolayout as well and want to submit PR regarding the same.

[2017-03-23 21:17] sunjunkie opened #61 ".DS_Store should be included in git ignore file"
On macOS X, the .DS_Store file should not be under version control. It's an OS-generated file and not part of the source code. It should be removed from the repo and an entry added to the .gitignore file.

[2017-03-25 21:43] vishesh9494 commented on #58
I am a GSoC 2017 aspirant and am interested in solving this bug

[2017-03-26 05:53] yvsssantosh commented on #58
@vishesh9494 Please kindly read the guidelines first before commenting.

[2017-03-26 05:55] yvsssantosh commented on #61
@sunjunkie Is it okay if i work on this issue?

I'm a GSoC 2017 aspirant and would like to work on it :)

[2017-03-26 07:54] vishesh9494 commented on #58
The guidelines stated commenting on a bug in the issues section. And you previously did not mention that you are a GSoC aspirant. So I commented here. I am sorry but I already sent a pull request regarding this.

[2017-03-26 08:11] yvsssantosh commented on #58
@vishesh9494 I already mentioned that i'll work on this issue and was waiting for the mentor's approval. Once a mentor approves then I'll go with this issue.

That is the reason I mentioned to read the guidelines because the owner of the issue gets the right to put a PR and if he/she is not active with the issue then you can put a PR.

That's how it goes in systers
Hope you understand :)
Thanks fo

[2017-03-26 08:22] Aviral190694 commented on #58
@vishesh9494 @yvsssantosh No worries guys. The app has enough bugs to be resolved and modules to be created that everyone has fair chance to show what talent they have.
@vishesh9494 A note I want to make is No one is allowed to send PR's without getting the bug marked to self that's the reason I asked in the slack so that you can read it. I know we all are passionate about the projects and want to

[2017-03-26 08:30] pandilladivya commented on #58
@vishesh9494

You should wait until the mentors approve the issue.
And moreover this issue was raised by @yvsssantosh and he already mentioned that he will be working on that . So I think you need to get the issue assigned to you before solving it.

Happy coding guys :)

[2017-03-26 08:38] vishesh9494 commented on #58
I am really sorry everyone! I am not very familiar with this and so did this in haste. Sorry for the inconvenience. Thank you for making me realise this mistake this early 😅.

[2017-03-26 08:46] Aviral190694 commented on #58
@vishesh9494 No worries :)

[2017-03-26 15:50] sunjunkie commented on #61
@yvsssantosh Yes, go ahead. Besides editing .gitignore file you will also have to remove all the .DS_store files in the repo. I think there are four.

[2017-03-28 15:52] yvsssantosh commented on #61
I've added a pull request
Please review :)

Thank You

[2017-03-29 23:04] #51 closed

[2017-03-29 23:04] #61 closed

[2017-03-30 22:08] Aviral190694 opened #64 "Newly updated gitIgnore file should be this : https://github.com/github/gitignore/blob/master/Swift.gitignore"
This is the template provided by Github and takes care of every case. As the project will grow we will be using Pods for sure.

[2017-03-30 22:08] Aviral190694 commented on #64
I am a GSOC aprirant and can send a PR for this.

[2017-03-30 22:44] sunjunkie commented on #64
I don't think it is useful to transfer that entire .gitignore to this project. There are items there that we don't need and some macOS-specific items that we use are missing. Take a look at the swift, OSX, and Xcode .gitignore files and then propose specific additions to our .gitignore that you think are appropriate.

[2017-03-30 22:50] sunjunkie commented on #60
If you work on this, stay focused on the database. The Autolayout will be a separate issue.

[2017-03-30 22:57] sunjunkie commented on #54
Fixed via PR #55

[2017-03-30 22:57] #54 closed

[2017-05-12 07:41] #64 closed

[2017-05-12 19:15] sunjunkie commented on #53
Initial fix in PR #67

[2017-05-12 19:15] #53 closed

[2017-05-23 16:26] #58 closed

[2017-05-23 16:26] #38 closed

[2017-05-23 16:29] #59 closed

[2017-05-24 08:17] #37 closed

[2017-05-24 08:20] #23 closed

[2017-05-24 08:20] #17 closed

[2017-05-24 08:21] sunjunkie commented on #12
UI is being redesigned for GSOC 17

[2017-05-24 08:21] #12 closed

[2017-05-24 08:23] #11 closed

[2017-05-24 14:36] #26 closed

[2017-05-26 23:40] #9 closed

[2017-05-26 23:40] #10 closed

[2017-05-26 23:41] #16 closed

[2017-05-26 23:46] sunjunkie opened #70 "Move all database access into one model class"
As a developer, I want to have a centralized access to the database so that I can more easily implement new features and enhancements in the app without duplicating code.

Acceptance Criteria:
All database access in the app is refactored to go through a proxy class

Definition of Done:
Approved by code review

[2017-05-26 23:54] sunjunkie commented on #60
Subsumed under #70

[2017-05-26 23:54] #60 closed

[2017-05-26 23:59] sunjunkie opened #71 "Combine multiple view controllers into one"
As a product owner, I want the code to be easily understood so that modifications to existing screens can be made quickly without breaking code and introducing bugs. For example, Some screens in the app are actually multiple screens in the storyboard each with its own view controller and segue code. This is unnecessarily complex and duplicates code and storyboard screens. Each main screen should b

[2017-05-26 23:59] sunjunkie commented on #56
Covered in #71

[2017-05-26 23:59] #56 closed

[2017-05-27 00:00] #25 closed

[2017-05-31 21:05] sunjunkie opened #73 "Fix Swift compiler warnings"
Edit project settings and code to eliminate the compiler warnings.

[2017-06-06 18:07] MeepyMay opened #75 "User completes the Home Scenario."
**Description**

As a player, I want to complete the "Store" scenario,
so that I can earn karma points and buy new things!

**Mocks**

Borrow the Phone
![image](https://user-images.githubusercontent.com/399376/27214279-68478fd8-5220-11e7-8405-6011c3267228.png)

**Acceptance Criteria**

User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned.

*

[2017-06-06 18:25] MeepyMay opened #76 "Mentors create issues for all stages' scenarios."
## Description
As an Student,
I want to view all the work I need to do,
so that I can manage my time and program with weekly reports on time.

## Mocks
N/A

## Acceptance Criteria
- Student can view all user stories in the issues list.
- User stories follow this format.
- Includes labels, assignees, and added to the "Student Tasks" Project board.

## Definition of Done
- All 5 scenarios are covere

[2017-06-07 16:18] MeepyMay opened #77 "Mentors perform a code review on the 1st week's PR. (May 30 - June 05)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:30] MeepyMay opened #78 "Mentors perform a code review on the 2nd week's PR. (June 06 - June 12)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:30] MeepyMay opened #79 "Mentors perform a code review on the 3rd week's PR. (June 13 - June 19)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:30] MeepyMay opened #80 "Mentors perform a code review on the 4th week's PR. (June 20 - June 26)"
## Description
As an Student,
I want to see where I can improve in my code,
so that I can manage grow my technical strengths.

## Mocks
N/A

## Acceptance Criteria
- Checklist below is complete and included in a comment on this issue. (Will transfer to Wiki later.)
- Feedback is given to the developer. (Comment on the PR.)

## Definition of Done
	 Complete this Code Review Checklist (Adapt as Need

[2017-06-08 18:41] MeepyMay opened #81 "Mentors merge all PRs from Week 1 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, create [a release file](https://github.com/chamika/PCSA-iOS/releases) is provided in the repo.

## Definition of Done
-

[2017-06-08 18:41] MeepyMay opened #82 "Mentors merge all PRs from Week 2 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, create [a release file](https://github.com/chamika/PCSA-iOS/releases) is provided in the repo.

## Definition of Done
-

[2017-06-08 18:41] MeepyMay opened #83 "Mentors merge all PRs from Week 3 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, create [a release file](https://github.com/chamika/PCSA-iOS/releases) is provided in the repo.

## Definition of Done
-

[2017-06-08 18:41] MeepyMay opened #84 "Mentors merge all PRs from Week 4 to Branch "GSoC17""
## Description
As an Admin,
I want to download the current code,
so that I can perform user tests and check on the end result.

## Mocks
N/A

## Acceptance Criteria
- All PRs have been reviewed by at least 1 mentor.
- Code merged into the correct branch "GSoC17"
- When possible, create [a release file](https://github.com/chamika/PCSA-iOS/releases) is provided in the repo.

## Definition of Done
-

[2017-06-09 00:24] sunjunkie commented on #40
Fixed by #74

[2017-06-09 00:25] #40 closed

[2017-06-09 00:27] #71 closed

[2017-06-09 00:28] #73 closed

[2017-06-09 00:31] sunjunkie commented on #19
Fixed via PR #74

[2017-06-09 00:31] #19 closed

[2017-06-09 15:53] sunjunkie opened #86 "User completes the Library Scenario"
**Description**

As a player,
I want to complete the "Library" scenario,
so that I can earn karma points and buy new things!

**Mocks**

Puberty Research
![image](https://user-images.githubusercontent.com/399376/26983457-b461bfd6-4cf0-11e7-9a5e-eb6e5619eb92.png)

**Acceptance Criteria**

User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned.

[2017-06-09 15:59] sunjunkie opened #87 "User completes the Hospital scenario"
**Description**

As a player,I want to complete the "Hospital" scenario,
so that I can earn karma points and buy new things!

**Mocks**

image
![image](https://user-images.githubusercontent.com/399376/26983765-bfdf30fe-4cf1-11e7-9342-45799efd9be1.png)

**Acceptance Criteria**

User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned.

**Definiti

[2017-06-09 16:02] sunjunkie opened #88 "User completes School scenario"
**Description**

As a player, I want to complete the "School" scenario,
so that I can earn karma points and buy new things!

**Mocks**

Sex scene
![image](https://user-images.githubusercontent.com/399376/26983917-380d1d52-4cf2-11e7-9450-37a4dd99465c.png)

**Acceptance Criteria**

User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned.

**Defin

[2017-06-09 16:05] sunjunkie opened #89 "User completes Store scenario"
**Description**

As a player, I want to complete the "Store" scenario,
so that I can earn karma points and buy new things!

**Mocks**

Borrow the Phone
![image](https://user-images.githubusercontent.com/399376/26984044-a6af5c48-4cf2-11e7-950a-08aebdf4dffb.png)

**Acceptance Criteria**

User interacts with an NPC.
Once conversation is finished, user is notified with the # of karma points earned.

*

[2017-06-10 05:05] codingblazer commented on #86
@casd82 If you are creating .csv file for these, then directly use the .csv from my PR in Android version. Repeating same work won't be productive. :-)

[2017-06-10 05:11] casd82 commented on #86
@codingblazer Thanks a lot!!

[2017-06-13 15:48] MeepyMay opened #91 "User completes the Home Scenario -2"
## Description
***
As a player,
I want to complete the "Home" scenario-2,
so that I can earn karma points and buy new things!
This scenario is to be completed after the first five stages.

## Mocks
***
![image](https://user-images.githubusercontent.com/13906284/27000437-9c508f96-4dcf-11e7-8a3b-6864afafcca9.png)

## Acceptance Criteria
***

- Also add a warning dialogue before the scenario since it

[2017-06-13 15:52] jenpaff opened #92 "Developer needs UI elements for the minesweeper game."
## Description
As a developer,
I want to code the minesweeper game,
so that I can code it into the sex scenario.

## Mocks
![screen shot 2017-06-10 at 20 37 50](https://user-images.githubusercontent.com/2440938/27007308-b6b833c8-4e1c-11e7-8031-03201fe71230.png)

## Acceptance Criteria
- Red, Green, and White Dots all consistent.
- Winning Screen
- Losing Screen

## Definition of Done
- Passes user

[2017-06-13 16:20] kimhwins commented on #92
it would be really cool to have a card flip animation when the player taps on a star!

[2017-06-13 16:32] #89 closed

[2017-06-16 06:16] sunjunkie commented on #75
I moved the scenario from the Store to Home per our last meeting.

[2017-06-16 06:18] sunjunkie commented on #76
See Issues #75 #86 #87 #88

[2017-06-16 06:18] #76 closed

[2017-06-16 06:29] sunjunkie commented on #77
Code reviewed. Needs more comments and tests and error handling.

[2017-06-16 06:29] #77 closed

[2017-06-16 06:31] sunjunkie opened #93 "Handle all error conditions appropriately"
**Description**

As a user,
I want the app to handle errors appropriately without crashing.

**Acceptance Criteria**

Errors that the app cannot correct will either notify the user (without crashing), and/or fail silently if the game is still able to continue.

**Definition of Done**

Passes unit testing of error conditions.

**Estimation**
tbd

[2017-06-19 21:23] #70 closed

[2017-06-20 22:09] sunjunkie commented on #78
PR has been merged. Code needs tests and error handling. Planned for a future week.

[2017-06-20 22:09] #78 closed

[2017-06-20 22:11] sunjunkie commented on #79
PR has been reviewed and merged.

[2017-06-20 22:11] #79 closed

[2017-06-21 19:02] sunjunkie opened #94 "User can change her mind after clicking on an accessory to purchase"
**Description**

As an User,
I want to be able to reverse an accessory purchase before I save the avatar,
so that I can change my mind if I don't like the accessory look on the avatar.

**Mocks**
N/A

**Acceptance Criteria**

User clicks on an accessor to purchase it and karma points are deducted.
User can reverse that purchase before the avatar is saved and the karma points are 'refunded'.

**Def

[2017-06-21 19:10] sunjunkie opened #95 "User cannot purchase 2 accessories of the same type."
**Description**

As an User,
I want to be able to click on several accessories of the same type when shopping without karma points being deducted for each click,
so that I see how each accessory of that type looks and decide which one I like better.

**Mocks**
N/A

**Acceptance Criteria**

User clicks on an accessor to purchase it and karma points are deducted.
User clicks on another one of the **

[2017-06-22 03:06] casd82 commented on #95
What I'm thinking is to add a "price sum" label indicating the summed price of the chosen accessories and a "purchase button". The purchase will succeed and the Karma points will be deducted only after the "purchased button" is clicked. This approach would solve both #94 and #95. How do you think?

[2017-06-26 05:04] sunjunkie commented on #81
Completed.

[2017-06-26 05:04] #81 closed

[2017-06-26 05:05] sunjunkie commented on #82
Completed

[2017-06-26 05:05] #82 closed

[2017-06-26 05:07] sunjunkie commented on #83
Completed. Several previous PRs were incorrectly merged into develop branch so I merged develop into GSoC17 branch. GSoC17 should be current now.

[2017-06-26 05:07] #83 closed

[2017-06-27 05:29] casd82 commented on #95
I solved this and issue #94 in PR #98.

[2017-06-27 15:40] #86 closed

[2017-06-27 15:40] #87 closed

[2017-06-27 15:40] #88 closed

[2017-06-27 15:40] #75 closed

[2017-06-27 15:43] #95 closed

[2017-06-27 15:44] #92 closed

[2017-06-27 20:01] jenpaff opened #99 "Mentor needs tests for already implemented code"
## Description
As a mentor, I want tests written for already implemented code, in order to ensure that future changes will not deteriorate consisting code and to avoid bugs. So far implemented code does not include Unit Tests (apart from Minesweeper game).

## Acceptance Criteria
- include Unit Tests
- meaningful Testdata
- positive / negative Tests where useful

## Definition of Done
-Passes user

[2017-06-27 20:49] jenpaff opened #100 "Developer & Mentors need Travis-ci"
## Description
As a developer and mentor, I want our code to be integrated with a continuous integration and build system to ensure code quality and make code reviews easier for both mentors and developers.

## Acceptance Criteria
- setting up and configuring Travis-ci build management system
- Travis-ci integrated with github
- Current repo builds successfully

## Definition of Done
-Passes user

[2017-06-27 21:23] jenpaff opened #101 "User can play Sink to Swim Minigame"
## Description
As a user I want to play the Sink to Swim game,
to learn the truths and myths about contraception.

## Mock
![screen shot 2017-06-15 at 12 48 53](https://user-images.githubusercontent.com/2440938/27192361-0c0a0b30-51c9-11e7-8945-21199f9419b8.png)

## Acceptance Criteria
- Transition to/from the minigame
- User interacts with an NPC.
- Also add a warning dialogue before the scenario

[2017-06-28 02:05] casd82 commented on #100
Completed in PR #102. It should be merged first so other PRs could succeed the automated test.

[2017-06-29 15:39] jenpaff opened #103 "Developer needs UI elements for the Hospital Scenario"
## Description
As a developer,
I want to see the UIs of  Hospital Scenario,
so that I can code the stage Hospital Scenario.

## Mocks
N/A

## Acceptance Criteria
-Background
-UI elements for health
-UI element for doctor
-UI element for mother

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil & May)

## Estimation

[2017-06-29 15:40] jenpaff opened #104 "Developer needs UI elements for the Library scenario"
## Description
As a developer,
I want to see the UIs of Library scenario,
so that I can code the stage Library scenario.

## Mocks
N/A

## Acceptance Criteria
-Background
-UI element for mother
-UI elements for junk food and diet/healthy food
-UI elements for friends

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil &

[2017-06-29 15:41] jenpaff opened #105 "Developer needs UI elements for the School scenario"
## Description
As a developer,
I want to see the UIs of  School scenario,
so that I can code the stage  School scenario.

## Mocks
N/A

## Acceptance Criteria
-Background
-Redesign existing UI elements for avatar and Marcello.
-Redesign UI element for School

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil & May)

##

[2017-06-29 15:41] jenpaff opened #106 "Developer needs UI elements for the Home Scenario -2"
## Description
As a developer,
I want to see the UIs of  sexual assault scene,
so that I can code the stage Home Scenario- 2.

## Mocks
N/A

## Acceptance Criteria
-Background
-UI element for uncle
-UI element for friends
-Home button, Continue button, Back button(optional)

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team.

[2017-06-29 15:42] jenpaff opened #107 "Developer needs UI elements for the Home Scenario -1"
## Description
As a developer,
I want to see the UIs of home party scene,
so that I can code the stage Home Scenario- 1.

## Mocks
N/A

## Acceptance Criteria
-Background

## Definition of Done
-Passes user testing per acceptance criteria items.
-Featured in design meeting.
-Approved by UI team. (Dil & May)

## Estimation

[2017-06-29 15:42] jenpaff opened #108 "Developer needs UI elements for the Vocabulary Match Game"
## Description
As a developer,
I want to code the Vocabulary Match Game (Matching Sperm Vocab to Definition),
so that I can code it into the hospital scenario.

## Mocks
![screen shot 2017-06-15 at 12 04 53](https://user-images.githubusercontent.com/2440938/27192236-91817e20-51c8-11e7-949e-a6f53ece54ee.png)
[Youtube Link of Gif](https://www.youtube.com/watch?v=6uV-fNGrtao&feature=youtu.be)

## Acc

[2017-06-29 15:43] jenpaff opened #109 "Developer needs UI elements for the Sink to Swim game."
## Description
As a developer,
I want to code the Sink to Swim game,
so that I can code it into the library scenario.

## Mocks
![screen shot 2017-06-15 at 12 48 53](https://user-images.githubusercontent.com/2440938/27192361-0c0a0b30-51c9-11e7-8945-21199f9419b8.png)

## Acceptance Criteria
- Background for Game
- True/False
- Timer
- Boat
- Winning Screen
- Losing Screen

## Definition of Done
-Pa

[2017-06-29 18:16] #80 closed

[2017-06-29 18:16] #84 closed

[2017-07-06 19:04] sunjunkie opened #112 "Some error message text needs minor fix"
1 - restarting is misspelled:
CustomizeAvatarViewController, in func saveAvatar()

2 - There is no suggested action on one of the errors in ResultsViewController. Add the same suggestion as for the other errors.

[2017-07-06 19:42] #100 closed

[2017-07-10 20:36] #94 closed

[2017-07-18 18:47] jenpaff commented on #99
Unit Tests were covered by #110

[2017-07-18 18:47] #99 closed

[2017-07-18 18:51] jenpaff commented on #101
Covered with PR #113 and PR # #115

[2017-07-18 18:52] jenpaff commented on #93
Covered with PR #97

[2017-07-18 18:53] #93 closed

[2017-07-24 14:01] jenpaff commented on #109
implemented during PR #113

[2017-07-24 14:01] #109 closed

[2017-07-24 18:48] jenpaff commented on #104
Implemented with #113

[2017-07-26 13:35] jenpaff opened #118 "Mentors want Travis status added to repository"
## Description
As a mentor, I want to see the Travis status, to see straight away whether the build passed or failed

## Mocks
![travis_status](https://user-images.githubusercontent.com/5339211/28623998-fa56a5b4-7217-11e7-945a-c6b6022b678f.jpg)

## Acceptance Criteria
- Travis status added to repo

## Definition of Done
- Travis status added to repo shows correctly

## Estimation
2hrs

[2017-07-27 19:26] sunjunkie commented on #118
Done - PR #119

[2017-07-27 19:26] #118 closed

[2017-08-08 03:00] MeepyMay opened #123 "Game needs a database schema."
## Description
As a developer,
I want to document a database with all scenario dialogues,
so that I can adapt the content intelligently with karma points and unique outcomes.

## Mocks
N/A

## Acceptance Criteria
- All scenarios are included.
1. Questions & Answers
2. Karma Points
3. Power Points (optional)

## Definition of Done
- Approved by Mentors

## Estimation
4 hours

[2017-08-11 12:49] #101 closed

[2017-08-11 12:50] #22 closed

[2017-08-14 20:54] sunjunkie opened #127 "Tutorial screen for minesweeper game does not match the game screen"
The minesweeper tutorial screen describes 5 vertical stars as the available number of tries left. But the game itself does not show these 5 stars. See attached screenshots
![simulator screen shot aug 14 2017 1 16 59 pm](https://user-images.githubusercontent.com/399376/29291297-fb38aa06-80f7-11e7-9100-08f2e706ec43.png)
![simulator screen shot aug 14 2017 1 18 17 pm](https://user-images.githubuserco

[2017-08-14 22:48] sunjunkie opened #128 "Create new avatar screen extends beyond iPhone 5 screen"
This screen extends beyond the edge of the iPhone 5 screen so one of the buttons is off the screen. See attached screen shot.

![simulator screen shot aug 14 2017 3 41 36 pm](https://user-images.githubusercontent.com/399376/29295176-d6039218-8107-11e7-9919-738c35a6b2fb.png)

[2017-08-15 15:49] casd82 opened #129 "Users should be able to revert and try out different accessories in Shop Scene."
Users should be able to click on several accessories of the same type when shopping without karma points being deducted for each click, so that they see how each accessory of that type looks and decide which one they like better.

(Previous commits may contain existing code for this issue. Look at `ShopViewController.swift` in: https://github.com/systers/powerup-iOS/pull/98/commits/d1c955461a02694

[2017-08-16 16:36] #103 closed

[2017-08-16 16:36] #104 closed

[2017-08-16 16:36] #105 closed

[2017-08-16 16:36] #106 closed

[2017-08-16 16:36] #107 closed

[2017-08-16 16:36] #108 closed

[2017-08-18 20:11] #91 closed

[2017-08-18 20:48] MeepyMay opened #130 "Mini Game Content needs Clean Up before Release."
## Description
As a tester,
I want to test content in a quick manner,
so that I can make notes and open bugs when appropriate.

## Mocks
![screen shot 2017-08-18 at 4 43 43 pm](https://user-images.githubusercontent.com/2440938/29477003-715014c4-8434-11e7-9947-025250c290e7.png)

## Acceptance Criteria
- All mini games have generic test questions with the answer clearly written. For example, "Test Q

[2017-08-21 05:41] casd82 commented on #130
Hi @MeepyMay, I think the texts for all the mini games are already generic and good for testing.

## Minesweeper
I use mock description text when each round ends.
![simulator screen shot 2017 8 21 1 10 29](https://user-images.githubusercontent.com/12479866/29504966-ea712396-8675-11e7-842d-265cdc65c0a8.png)

## Sink to Swim
I use 10 mock questions with answers shown clearly:
[code]

## Vocab Matchi

[2017-08-22 02:24] MeepyMay commented on #130
@casd82 This looks good! Perfect for testing.

Do you have any additional slang in the scenarios? I found a "Darling" in Android. Are there any additional words that are not necessary?

[2017-08-22 02:28] casd82 commented on #130
@MeepyMay I don't think there are any additional slangs left in iOS.

[2017-08-22 02:42] MeepyMay commented on #130
Thank you for checking @casd82 !

[2017-08-22 02:43] #130 closed

[2017-08-28 03:23] casd82 opened #132 "The avatars of Shop, Scenario, and Customize Avatar scene should be scaled up."
The size of the avatars and the accessories should be scaled up to match to size of the Android version.

Current size:
<img width="729" alt="ios" src="https://user-images.githubusercontent.com/12479866/29758077-3fa8c144-8be3-11e7-84d9-c121462b27e7.png">

Should be:
<img width="479" alt="android" src="https://user-images.githubusercontent.com/12479866/29758082-48d63800-8be3-11e7-8d59-d1d972a9b970.

[2017-09-08 06:52] casd82 opened #133 ""Continue Button"s in ResultViewControllers sometimes don't work."
There's a bug that the "Continue Button" in ResultViewController sometimes don't work when pressed. It is supposed to make the game go to the next scenario when pressed.

[2017-10-05 16:13] Adeti opened #135 "Improve Design"
Go ahead and add creative accessories. skin colors, clothing, eye colors. anything!

[2017-10-05 16:46] hasiniran opened #136 "Select buttons in the Avatar setup screen should be disabled if there are no choices to select."
In the avatar selection screen, left and right buttons for clothes should be disabled if only one cloth is available to select.  Need to check this fix is required for other selections (hair, skin, eyes ).

[2017-10-05 16:52] MeepyMay opened #137 "Fix the about screen."
## Description
As a user,
I don't need to edit the about details,
so that I can read freely.

## Mocks
N/A

## Acceptance Criteria
1. Content is not editable.
2. Content is scrollable.

## Definition of Done
- Approved by 1 mentor in GHC OSD

## Estimation
1 hours

[2017-10-05 17:44] hasiniran opened #138 "When you run app for the first time, the avatar appears blank in the Customize Avatar screen."
This happens only when you run app for the first time.

[2017-10-05 18:44] Adeti commented on #137
You could also make the content more user-friendly; Change the format of the Sub-heading to differentiate between the heading and their description.

[2017-10-06 07:22] sunjunkie commented on #136
Fixed in PR #139

[2017-10-06 07:22] sunjunkie commented on #136
Fixed in PR #139

[2017-10-06 07:22] #136 closed

[2017-10-06 07:49] sunjunkie opened #141 "Update for xcode 9, swift 4, and ios 11"
**Description**

As a user,
I want to be able to run the app on the latest version of iOS
so that I can use it on a new or updated iPhone .

**Mocks**

N/A

**Acceptance Criteria**

App can be built sucessfully with no errors or warning in xcode 9 using swift 4.
App will run successfully on iOS 11.

**Definition of Done**

Approved by 1 mentor in GHC OSD

**Estimation**

2 hours

[2017-10-06 07:55] sunjunkie opened #142 "Don't show the mini game tutorial if the user has already seen it."
**Description**

As a user,
I only want to see a tutorial once,
so that I can play the mini game without having to click past the tutorial each time.

**Mocks**

N/A

**Acceptance Criteria**

The tutorial appears the first time I play a mini game. It does not appear on subsequent replays.

**Definition of Done**

Approved by 1 mentor in GHC OSD

**Estimation**

n/a

[2017-11-25 21:46] hasiniran opened #143 "Text getting cut off by the ui bounds"
When dialogs are displayed, the text is getting cut off by the view bounds. Check the attached images.

<img width="1023" alt="screen shot 2017-11-25 at 4 36 33 pm" src="https://user-images.githubusercontent.com/9370429/33235134-20ea7d8e-d200-11e7-90ca-49d2031af180.png">
<img width="565" alt="screen shot 2017-11-25 at 4 34 51 pm" src="https://user-images.githubusercontent.com/9370429/33235135-20f9

[2017-11-25 22:10] hasiniran opened #144 "Text appears outside the button bounds in ShopViewController"
In ShopViewController, the text 'select' spans beyond the button rectangle.

<img width="982" alt="screen shot 2017-11-25 at 4 58 29 pm" src="https://user-images.githubusercontent.com/9370429/33235295-641171f0-d203-11e7-9179-6b56a9ed11f3.png">

[2017-11-29 16:51] g30r93g commented on #137
Fixed. Just a matter of unchecking the 'editable' box in the attributes inspector. The following link has the new code: https://github.com/g30r93g/powerup-iOS

[2017-11-29 19:59] vatsalkul commented on #143
You can refer to this PR link: https://github.com/systers/powerup-iOS/pull/146

[2017-12-04 16:56] vatsalkul commented on #141
I MIGRATE THE PROJECT TO SWIFT 4 IN POWERUP IOS. PR link: https://github.com/systers/powerup-iOS/pull/153

[2017-12-05 07:50] vatsalkul commented on #141
Please go through this PR link, I migrated the project to Swift 4, to provide new code.
https://github.com/systers/powerup-iOS/issues/141

[2017-12-05 07:59] vatsalkul commented on #141
I migrate the project to swift 4. Please follow this PR https://github.com/systers/powerup-iOS/pull/154

[2017-12-05 13:44] vatsalkulshreshtha commented on #141
I Vatsal Kulshreshtha migrated the Powerup iOS project to Swift 4.
PR : https://github.com/systers/powerup-iOS/pull/156

[2017-12-05 20:50] vatsalkulshreshtha commented on #141
Please go through this link. I migrated the project to swift 4. Hope it will help

[2017-12-06 09:42] vatsalkulshreshtha commented on #141
Migrated to swift 4. https://github.com/systers/powerup-iOS/pull/159

[2017-12-06 10:40] vatsalkulshreshtha commented on #141
Migrated to swift 4 https://github.com/systers/powerup-iOS/pull/160

[2017-12-06 10:59] vatsalkulshreshtha commented on #144
I improved the appearance of the "Select" in ShopViewController. Please go to this PR link https://github.com/systers/powerup-iOS/pull/161

[2017-12-06 18:16] g30r93g opened #163 "README.md Needs Images"

[2017-12-06 18:16] g30r93g commented on #163
https://github.com/g30r93g/powerup-iOS/blob/develop/README.md

[2017-12-06 18:17] vatsalkulshreshtha commented on #144
I improved the appearance of the "Select" in ShopViewController. Please go to this PR link https://github.com/systers/powerup-iOS/pull/162

iPad (5th generaation)
![screen shot 2017-12-06 at 4 22 55 pm](https://user-images.githubusercontent.com/34273246/33658256-0d884da2-daa2-11e7-896e-0b2ad93a9e45.png)

iPhone 8
![screen shot 2017-12-06 at 4 20 33 pm](https://user-images.githubusercontent.com/342

[2017-12-06 18:20] sunjunkie opened #164 "Add a 1024x1024 app icon to the project"
The latest iTunes App Store requires a 1024x1024 png file to use as the store app icon to be part of the compiled project. So this file needs to be added to the image assets in Xcode.
![appicon1024](https://user-images.githubusercontent.com/399376/33677845-fe8e345c-da6e-11e7-8819-903cc6fb4f2c.png)

[2017-12-07 06:13] vatsalkulshreshtha commented on #164
I added a 1024x1024 app icon. https://github.com/systers/powerup-iOS/pull/167

[2017-12-10 02:38] hasiniran opened #170 "Improvements in the CustomizeAvatarViewController are required for larger screen sizes"
Buttons and avatar look mis-positioned for larger screen sizes (iPad).  Following images show how the 'Customiz Avatar' view appears in iPhone 8 and iPad respectively. Identified mis-positioned are mark red for the iPad.

_iPhone 8_
<img width="702" alt="screen shot 2017-12-09 at 9 05 47 pm" src="https://user-images.githubusercontent.com/9370429/33801411-a0c9bc80-dd28-11e7-99c9-b20ebc727362.png">

[2017-12-13 19:55] vatsalkulshreshtha commented on #170
I wanna ask that how the Continue Button is mispositioned.

[2017-12-13 20:12] hasiniran commented on #170
Compare with how the button is positioned in the storyboard and under small screen sizes.

[2017-12-13 20:54] sunjunkie commented on #138
@hasiniran Is this still an issue? I can't reproduce it.

[2017-12-15 09:07] vatsalkulshreshtha commented on #137
# Fixed
Just by unchecking the "Editable" box in attribute inspector. https://github.com/systers/powerup-iOS/pull/173
Screenshot:

![screen shot 2017-12-15 at 2 32 35 pm](https://user-images.githubusercontent.com/34273246/34034654-5e8af8e4-e1a5-11e7-9181-38ce6c9f4c60.png)

[2017-12-15 20:26] vatsalkulshreshtha commented on #112
Fixed Error Message text. https://github.com/systers/powerup-iOS/pull/174

[2017-12-16 09:54] akshaynexus commented on #112
#175 Fixed spelling errors and other fixes

[2017-12-16 20:22] vatsalkulshreshtha commented on #170
Improved 'Customize Avatar' view for iPad. https://github.com/systers/powerup-iOS/pull/176

[2017-12-17 09:32] akshaynexus commented on #137
https://github.com/systers/powerup-iOS/pull/177

[2017-12-18 08:07] akshaynexus commented on #141
Upgraded code from siwft 3 to swift 4 -> #179

[2017-12-20 07:18] akshaynexus commented on #141
upgraded to swift 4 #185

[2017-12-21 01:35] #138 closed

[2017-12-21 01:36] hasiniran commented on #138
This issue doesn't reproduce now. Hence closing.

[2018-01-04 18:41] vatsalkul commented on #144
Solved: Hide empty display boxes in ShopViewController. PR https://github.com/systers/powerup-iOS/pull/187

[2018-01-06 10:17] hasiniran opened #188 "Suggestion: Hide empty display boxes in ShopViewController"
## Description

ShopViewController displays an empty grayed-box for hair, clothes and accessaries that do not exist. For example, go to Store -> Clothes. You will notice only the first display box is non-empty and other boxes are empty. Improvement for this view to hide the display boxes if the box content ( hair/cloth/accessary) is empty would be a better way of displaying.

## Mocks

Current vie

[2018-01-07 19:56] fkiwitt commented on #188
I just did another PR for Google Code In: https://github.com/systers/powerup-iOS/pull/189

[2018-01-09 13:20] samyukthacodes opened #190 "CONTRIBUTING_GUIDELINES.md need edits"
## Description
Edit the markdown and to beautify the documentation.

## Definition of Done
- [ ] Approval by 1 mentor.

[2018-01-09 13:20] samyukthacodes commented on #190
Can I take up this issue?

[2018-01-09 21:51] Nate-Gaudreault commented on #188
Completed the task in PR #191

[2018-01-11 01:04] samyukthacodes commented on #190
@dawnchandler Can I take up this issue?

[2018-01-11 01:08] dawnchandler commented on #190
Yes, please do. I am transitioning out of GCI mentorship.

From: "Samyuktha Sudheer" <notifications@github.com>
To: "systers/powerup-iOS" <powerup-iOS@noreply.github.com>
Cc: "Dawn Chandler" <dschandl@sfu.ca>, "Mention" <mention@noreply.github.com>
Sent: Wednesday, 10 January, 2018 20:04:05
Subject: Re: [systers/powerup-iOS] CONTRIBUTING_GUIDELINES.md need edits (#190)

[ https://github.com/dawnch

[2018-01-11 21:09] vatsalkul opened #193 "Avatar confirm label is showing properly in CustomisedAvatarViewController"
## Description
As a user I need to see the whole text "This is your final avatar! Press CONTINUE to start your journey..." in Customised Avatar View Controller. This is an issue in some devices like iPhone 5s and also in iPad

## Mocks
iPhone:
![screen shot 2018-01-12 at 2 28 01 am](https://user-images.githubusercontent.com/30840527/34847106-4e40de30-f740-11e7-9ae8-abdbcac66d4c.png)

iPad
![screen

[2018-01-11 21:10] vatsalkul commented on #193
@hasiniran @sunjunkie I think this is a valid issue, Can iWork on this?

[2018-01-12 20:11] Nate-Gaudreault commented on #188
Resolved the issue for GCI in PR #194

[2018-01-13 18:42] vatsalkulshreshtha commented on #170
@hasiniran Please check this Issue https://github.com/systers/powerup-iOS/issues/193 I want you to add the following points in this issue and then I’ll close that one.
Can I work on this after you merged the issue and update my PR https://github.com/systers/powerup-iOS/pull/176

[2018-01-16 20:49] fkiwitt commented on #141
Hey everyone,
I have created another PR (for google code in). If you want to you can check it out here: https://github.com/systers/powerup-iOS/pull/198

[2018-01-16 21:10] erikaaatan opened #199 "Make dialogue options visible for all screen sizes"
## Description
As a user,
I need to see all available dialogue options regardless of screen size,
so that I can choose how to reply in the scenario.

## Mocks
iPhone SE Example: can't see the last choice "Remain Quiet." The user might not know that she has to scroll the TableView to see the other option.
<img width="579" alt="screen shot 2018-01-16 at 4 00 35 pm" src="https://user-images.githubuse

[2018-01-16 21:17] erikaaatan opened #200 "Allow scene to be replayed after going to map"
## Description
As a user,
I need to be able to replay a scene after going to the map,
so that I don't end up stuck after completing the game.

## Mocks
Instead of this,
<img width="742" alt="screen shot 2018-01-16 at 4 14 27 pm" src="https://user-images.githubusercontent.com/34075473/35012618-5c95750e-fad8-11e7-8f21-f89018530877.png">

It should look like this:
<img width="744" alt="screen shot 20

[2018-01-26 04:01] #141 closed

[2018-01-26 07:32] #164 closed

[2018-01-26 07:52] #142 closed

[2018-01-26 22:03] #137 closed

[2018-01-26 23:12] erikaaatan opened #206 "Add more avatar options for variety and consistency"
## Description
As a user,
I would like more customization options at the beginning of the game,
so that I can represent what I want to look like more accurately. (Also for consistency between the iOS and Android versions, since Android has more hair/outfits/etc.)

## Mocks
iOS Default Avatar
![image](https://user-images.githubusercontent.com/34075473/35464225-d4a5d1d2-02c2-11e8-8b4a-4ef647256539.p

[2018-01-27 00:10] #112 closed

[2018-02-01 23:29] erikaaatan opened #209 "Wiki links lead to 404 errors"
## Description
As a user and developer,
if I click on the "reporting guidelines" and "code of conduct" links in the wiki,
it results in a page not found error.

## Mocks
<img width="1274" alt="screen shot 2018-02-01 at 6 27 36 pm" src="https://user-images.githubusercontent.com/34075473/35708769-a0187608-077d-11e8-93af-a1e7f1785b76.png">

## Acceptance Criteria
The links are corrected to transfer t

[2018-02-05 06:58] dimuth opened #210 "Move strings to separate file"
## Description
As a developer, I need to use strings from a separate file to avoid duplications. As well as, a user I need to use the app with my own language. Therefore we need to implement localization feature in future and this restructuring will help us to implement localization. We could create a separate file (Strings.swift) and move all strings to that file to make this localization process

[2018-02-10 07:14] #199 closed

[2018-02-10 07:14] #143 closed

[2018-02-10 07:53] sunjunkie commented on #170
Closing this since iPad support is TBD.

[2018-02-10 07:53] #170 closed

[2018-02-10 08:23] sunjunkie commented on #144
This is an iPad issue and iPad support is TBD.

[2018-02-10 08:23] #144 closed

[2018-02-10 08:32] #206 closed

[2018-02-10 21:04] #209 closed

[2018-02-10 21:24] sunjunkie commented on #188
The merged PR causes tests to fail; reopening this issue.

[2018-02-14 22:34] #188 closed

[2018-02-15 06:26] #200 closed

[2018-02-15 06:32] MeepyMay commented on #163
Closing this issue. We have a readme template we're going to use for the repo cleanup process.

[2018-02-15 06:32] #163 closed

[2018-02-15 06:33] MeepyMay commented on #135
This was opened for GHC OSD. We have an Outreachy design student creating inclusive avatar elements.

[2018-02-15 06:33] #135 closed

[2018-02-15 06:39] MeepyMay commented on #190
We're following a template used for every repo in the Systers open source org.

[2018-02-15 06:39] #190 closed

[2018-02-16 22:54] erikaaatan commented on #129
@sunjunkie I will start working on this issue

[2018-02-19 03:39] erikaaatan opened #215 "Suggestion: Change purchase warning message"
## Description
As a user,
I might be confused about the purchase warning message,
which says that I will be spending x amount of dollars.
(This might cause confusion about whether the user is making an in-app purchase, or it might not be what the user's currency is called in her home country.)

## Mocks
<img width="745" alt="screen shot 2018-02-18 at 10 37 36 pm" src="https://user-images.githubuse

[2018-02-19 03:40] erikaaatan commented on #215
@sunjunkie If this is approved I will send in a PR for it

[2018-02-25 08:11] Tagsahil commented on #215
I am already sent PR for this change

[2018-02-25 08:26] SIMRAN1 commented on #210
@dimuth  I want to work on this issue..May I start working on it.

[2018-02-25 15:28] Tagsahil opened #218 "Confirm label text colour match with background colour"
## Description
Confirm label text colour match with background colour.
So Confirm label text is not showing properly due to colour mixing.
I need to do this,
so that I can resolve this issue.

## Mocks

![screen shot 2018-02-25 at 5 13 20 pm](https://user-images.githubusercontent.com/31792015/36643167-26aa524c-1a6e-11e8-8941-31b3aae493f0.png)

## Acceptance Criteria
### Update [Required]
- [ ] [LI

[2018-02-26 11:05] SIMRAN1 opened #219 "Adding Segue identifiers to a Seprate class Constants.swift"
## Description
Adding segue identifier into Seprate class..All the segue identifiers will be moved to constants.swift.

## Estimation
2 hours
@sunjunkie @MeepyMay What's say about it?.
I want to work on this issue.

[2018-02-27 06:02] #129 closed

[2018-02-27 07:05] sunjunkie commented on #219
Take a look at this approach: https://www.bignerdranch.com/blog/using-swift-enumerations-makes-segues-safer/ using enums (and extensions to each view controller)

[2018-02-27 07:07] sunjunkie commented on #210
@SIMRAN1 Yes, this is a good practice for localization.

[2018-02-28 10:34] #218 closed

[2018-02-28 11:15] Tagsahil commented on #215
@sunjunkie check this out.

[2018-02-28 15:18] SIMRAN1 opened #222 "Moving Constants to a seprate file"
## Description
As a developer all constants should be kept in seprate file.
## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
3 hours
I want to work on this issue

[2018-02-28 15:20] SIMRAN1 commented on #219
@sunjunkie  I will see this approach and send a pr for this!

[2018-02-28 16:12] Tagsahil opened #223 "Confirm label colour is not visible properly in CustomisedAvatarViewController"
## Description
In Confirm Label colour is not visible properly because of background colour.

## Mocks
![screen shot 2018-02-28 at 5 26 41 pm](https://user-images.githubusercontent.com/31792015/36798127-bf637dca-1ccf-11e8-94e9-c133d5525bc4.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours
I want to work on it.

[2018-02-28 16:12] Tagsahil commented on #223
I want to work on it.

[2018-02-28 16:57] sunjunkie commented on #223
The text color was decided upon as part of the app design that’s been done so far. To change this to a different color will require further discussion among project owners.

[2018-02-28 17:19] Tagsahil commented on #223
but this changes approved by mentor. @sunjunkie

[2018-02-28 21:19] erikaaatan opened #224 "Fix Vocab Match end screen"
## Description
As a user,
when I finish the Vocab Match mini game,
the end screen does not fit in with the overall design of the app.

## Mocks
### iOS Vocab Match end screen
![image](https://user-images.githubusercontent.com/34075473/36813540-f16b1198-1ca2-11e8-9892-7da47f512d9a.png)
### Android Vocab match end screen
![image](https://user-images.githubusercontent.com/34075473/36813561-fc661084-1

[2018-03-01 07:41] sunjunkie commented on #224
@erikaaatan Approved.

[2018-03-01 09:17] SIMRAN1 commented on #222
@sunjunkie  should I work on this issue?

[2018-03-01 16:56] #215 closed

[2018-03-02 01:57] erikaaatan opened #229 "Update karma points based on mini game score"
## Description
As a user,
I would like to earn karma points from the mini games,
so that I can buy more things.
Also, this feature would make it more consistent with the Android app because it currently gives additional karma points based on the user's mini game score.

## Mocks
In the Android version, the user gains more karma points when she plays the mini games, as opposed to when she doesn't.

[2018-03-02 01:57] erikaaatan commented on #229
@sunjunkie If this is approved I will start working on it

[2018-03-02 02:02] erikaaatan opened #230 "Include map migration alert"
## Description
As a user,
when I migrate back to the map,
I do not receive a warning about losing the current scene's karma points, unlike the Android version.

## Mocks
When clicking on the home button in the top right corner during a scene, the user gets an alert in the Android version.
![screenshot_1519956024](https://user-images.githubusercontent.com/34075473/36879870-c78f485c-1d93-11e8-967e-0

[2018-03-02 02:03] erikaaatan commented on #230
@sunjunkie this might be a good issue for GSoC applicants to work on, but I can work on it as well if it is approved

[2018-03-03 15:26] #223 closed

[2018-03-04 16:12] Tagsahil opened #233 "Create a Continue Button"
## Description
As a user if I complete a scenario and I want move to next scenario i need a button which can directly move me to next scenario.
In now's iOS application continue button is not there.
So,if I want to move next scenario i just go to map and from there I will move to next scenario.
So,we have to add Continue Button.
In android there is continue button.

## Mocks

![screen shot 2018-03

[2018-03-04 16:14] Tagsahil commented on #233
@sunjunkie  I want to work on it.

[2018-03-04 20:02] #224 closed

[2018-03-04 20:04] sunjunkie commented on #229
Approved @erikaaatan

[2018-03-04 20:05] sunjunkie commented on #233
Approved @Tagsahil

[2018-03-04 20:24] sunjunkie commented on #222
Can you enhance the issue description according to the template? As a [USER], I need [TO DO THIS], so that I can [ACCOMPLISH THAT]. E.g. As a developer, I need to have all constants in the same file so that I can locate or edit these constants easily.

You can work on this but, please explain (before you edit your code) which constants you want to extract and how you will organize these constants.

[2018-03-07 16:19] SIMRAN1 commented on #222
okk @sunjunkie  I will open issue according to template

[2018-03-07 16:45] SIMRAN1 commented on #222
@sunjunkie before preceeding to work on this issue I would ask one suggestion as there are so many constants per file..How should I classify them like moving integers into Integers.swift and float values into Float.swift or moving all constants in constants.swift??

[2018-03-08 18:27] imjog commented on #230
@erikaaatan Can I take this issue if you don't mind? @sunjunkie

[2018-03-08 18:38] erikaaatan commented on #230
@imjog  Go ahead :) you might have to wait for @sunjunkie 's approval first though

[2018-03-08 19:05] imjog commented on #230
Thank you @erikaaatan :)

[2018-03-08 20:20] imjog opened #235 "Propose and implement best practices and style guide"
## Description
As a Contributor,
I need follow Swift Style Guide and good iOS development practices,
so that I can write clean and well-formatted code.

## Acceptance Criteria
There are a number of guides for best practices of iOS projects and Swift Style Guide.
Link for Style Guide: [Swift Style Guide](https://github.com/linkedin/swift-style-guide)
Link for good practices: [iOS Good Practices](ht

[2018-03-11 02:36] dimuth commented on #210
@SIMRAN1
Seems your Strings.swift file does not help for localisation.

[2018-03-12 18:12] SIMRAN1 commented on #210
@dimuth what enhancements should I do?

[2018-03-12 21:02] #219 closed

[2018-03-13 02:56] #229 closed

[2018-03-13 03:15] SIMRAN1 opened #237 "Name the unnamed segue in the project."
## Description
As a developer,
I need to name the segues defined in  the project,
so that segue didnot throw nil value.Unamed segue throw nil value..

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
All unamed segues are named.
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are comp

[2018-03-13 03:16] SIMRAN1 commented on #237
@sunjunkie May I proceed to work on this issue?

[2018-03-13 08:43] dimuth commented on #210
@SIMRAN1
Better to use `NSLocalizedString` for your String file. Then we can use it later for localisation. Therefore we can use that file for avoid duplication and implement localisation.

[2018-03-15 16:42] SIMRAN1 commented on #210
okk thanks I will see this approach!

[2018-03-15 18:46] sunjunkie commented on #237
Can you complete the template above? Specifically the Acceptance Criteria. Just enter  ‘not applicable’ for the other optional items that don’t apply.

[2018-03-16 10:00] SIMRAN1 commented on #237
okk @sunjunkie ..There are more than 1 unnamed segue..Ex when we move from CompletedViewController.swift to maps..

[2018-03-16 12:22] sunjunkie commented on #237
Yes you can work on this. Also, replace the print statements with AssertionFailure in the appropriate switch statements as we previously discussed.

[2018-03-16 12:24] SIMRAN1 commented on #237
okk @sunjunkie mam I will work on it..

[2018-03-20 09:58] Tagsahil opened #240 "After Game completes"
## Description
After completion of the game, there is no button or navigation screen which can reset the game.

## Mocks

![screen shot 2018-03-21 at 7](https://user-images.githubusercontent.com/31792015/37718364-87474064-2d48-11e8-8969-64b59b0e5e97.jpg)

## Acceptance Criteria
After game completion, new game or replay screen navigation occur or Reset Button occurs on StartView.
After pressing Res

[2018-03-20 10:13] SIMRAN1 opened #241 "Add skip button to vocab matching game."
## Description
A user who has already played the game before or is re-playing it might wish to skip reading the tutorial every time. Thus, adding a "skip tutorial" button would allow the user, who already knows how to play the game, to directly start playing the game.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
skip button is added
### Update [Required]
- [ ] [LIST ITEMS]
### Enha

[2018-03-20 10:14] SIMRAN1 commented on #241
@sunjunkie please see to this issue.

[2018-03-20 12:10] sunjunkie commented on #241
This was fixed for all tutorials in https://github.com/systers/powerup-iOS/issues/142. Please document the exact steps for getting the error (tutorial).

[2018-03-20 12:30] sunjunkie commented on #240
Can you provide more details? Perhaps some screenshots?  I’m also not sure why you reference the About menu.

[2018-03-20 12:37] Tagsahil commented on #240
It's not necessary to add reset button in about button.
We can add it in home menu or in map.
I am removing idea about add reset button in About menu. @sunjunkie

[2018-03-20 13:57] SIMRAN1 commented on #241
@sunjunkie mam  I mean to say that if a user plays the game again ..For ex user heads back to map and then click home button and then create new avatar and play game so if user is already familiar with the steps.Hence to make game more attractive we should add skip button ..What do u think?

[2018-03-21 00:18] sunjunkie commented on #240
OK. I do still need more details.

[2018-03-21 00:25] sunjunkie commented on #241
This would be a new feature which is a low priority now. You are welcome to suggest new features in GSoC proposal.

[2018-03-21 03:08] SIMRAN1 commented on #241
okk @sunjunkie

[2018-03-21 16:56] sunjunkie commented on #240
Please explain the function of the reset button and how it differs from the New Game button.

[2018-03-23 20:27] SIMRAN1 opened #242 "Addition Of Game Completion Screen."
## Description
As a user, I want to see my karma points at the end of the game so that I know how many karma points I have in total.This feature is implemented in android.

## Mocks

![image](https://user-images.githubusercontent.com/21240014/37851903-98287cc6-2f06-11e8-870b-d1aef04d5f1e.png)

## Acceptance Criteria
When Completion Screen is added.
### Update [Required]
- [ ] [LIST ITEMS]
### Enha

[2018-03-23 20:28] SIMRAN1 commented on #242
@sunjunkie please approve the issue so that I can work on it.

[2018-03-23 20:34] SIMRAN1 opened #243 "Modifying AboutView Controller"
## Description
As a developer,
I want to change the about screen so that the android and iOS version of app will be consistent..

## Mocks
![image](https://user-images.githubusercontent.com/21240014/37852182-aca7f504-2f07-11e8-9fe0-b69c23a52886.png)

## Acceptance Criteria
When About Screen is made consistent with android.
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optiona

[2018-03-23 20:35] SIMRAN1 commented on #243
@sunjunkie mam please approve this issue.

[2018-03-24 03:19] #240 closed

[2018-03-28 16:39] sunjunkie commented on #242
@SIMRAN1 Can you complete the required items in the issue template (Update section)?

Also, you are mixing 2 users (user and developer) in the user story.  The user story should be from the viewpoint of the same person --  "As a *user*, I want to *see my karma points at the end of the game* so that *I know how many karma points I have*".

Please make those changes and then go ahead and work on the

[2018-03-28 16:59] sunjunkie commented on #243
We do want consistency between Android and iOS apps. However, we also want to adhere to the standard UI practices in each ecosystem. So an iOS screen does not need to be a mirror image of the corresponding Android screen but instead should provide the same information but keep the look and feel of iOS and Apple guidelines.
The screen shot above does not feel like an iOS App (e.g., the arrows). Als

[2018-03-28 17:12] SIMRAN1 commented on #242
sorry @sunjunkie mam I will fix the issue template and send a pr for it!!

[2018-03-28 17:15] sunjunkie commented on #243
Also, fix the user story to conform to the format: "As a developer,
**I want to** change the about screen **so that** the android and iOS version of app will be consistent."

[2018-03-28 17:24] SIMRAN1 commented on #243
okk @sunjunkie mam I will fix the template.I really apologise for this mistake.
When the user clicks the text this happens.
![image](https://user-images.githubusercontent.com/21240014/38045589-d1c73d64-32da-11e8-8b16-a6271628898b.png)
@sunjunkie mam shall we discuss about this screen design in slack.

[2018-03-28 22:33] sunjunkie commented on #243
You can work on the About page text display - displaying titles and then expanding the text when the title is tapped. Don't use alerts. Let's also change the titles to be consistent with each other.

What is Powerup?
Why is Powerup needed?
How does Powerup help teenagers?

[2018-03-28 22:35] #237 closed

[2018-03-29 06:46] SIMRAN1 commented on #243
okk @sunjunkie mam I will send a pr for this.

[2018-04-02 19:33] sunjunkie commented on #242
You are using the 'vocabmatching_background' for the end screen. If this image is ever changed to something specific for the vocabulary game, it would break the end screen. I suggest that you duplicate the image file, rename it, and then add it as a new image set for the end screen background.

Also, no need for a 'developer' user story. The user's user story is descriptive enough for the issue. T

[2018-04-03 13:33] SIMRAN1 opened #245 "update ReadMe File"
## Description
As a developer,
I need to update README.md,
so that Information available is consistent with the repository and beginner get proper direction in contributing to the project.

## Acceptance Criteria
When proper description of git commands is done in readme file and contributing guidelines are updated properly and linked to readme file.
### Update [Required]
- [x] [README]

## Definit

[2018-04-04 06:00] SIMRAN1 commented on #245
@sunjunkie mam I will send a pr for it soon.

[2018-04-08 09:40] SIMRAN1 commented on #230
@sunjunkie mam please see to this issue!!

[2018-04-11 03:54] SIMRAN1 opened #249 "Updating How to Contribute Guidelines."
## Description
As a developer I need to know proper contributing guidelines so that I can get a proper direction for contribution to project.

## Acceptance Criteria
How to contribute Guidelines are updated.

## Definition of Done
- [ ] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
2 hours

[2018-04-11 03:55] SIMRAN1 commented on #249
@sunjunkie mam for wiki edit "How to contribute guidelines" I have made a repo in github https://github.com/SIMRAN1/powerup-iOS-wiki   .Please review it and suggest changes.I have made changes according to android wiki documentation.

[2018-04-13 08:16] #245 closed

[2018-04-17 03:53] SIMRAN1 commented on #249
@sunjunkie mam this is updated How to Contribute guidlines for https://github.com/SIMRAN1/powerup-iOS-wiki/blob/master/How-To-Contribute.md  .Please review it and suggest changes.

[2018-04-19 04:02] sunjunkie commented on #230
Note that I edited the description to more closely align with the user story template.

[2018-04-19 10:11] SIMRAN1 commented on #230
thanks @sunjunkie mam I will work on it and send a pr soon!!

[2018-04-19 22:48] #210 closed

[2018-04-20 00:09] mayburgos opened #251 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 05:08] SIMRAN1 commented on #251
@MeepyMay  I would like to work on it!

[2018-04-20 06:00] sunjunkie commented on #249
Changes have been moved to the wiki page.

[2018-04-20 06:00] #249 closed

[2018-04-20 19:48] #242 closed

[2018-04-26 03:03] #233 closed

[2018-05-01 15:40] justKD commented on #132
It looks like the Android version is just scaling the images differently. The aspect ratio seems off. I'm just guessing, but it kind of looks like the images are being told to fill the view rather than scale to aspect ratio, which it seems the iOS version is doing.

[2018-05-01 15:44] justKD commented on #128
The UI for character creation has changed considerably! I think this is an old issue that can be closed.

<img width="589" alt="screen shot 2018-05-01 at 10 43 11 am" src="https://user-images.githubusercontent.com/24572031/39479992-8575cb62-4d2c-11e8-954d-be748775242c.png">

[2018-05-01 15:57] justKD commented on #127
It looks like the tutorial screens just need to be updated. I think the "Score" was just moved to the top right in a different format.

I'm looking through the code, and I don't see any reference to the stars mentioned in the current tutorial screens.

[2018-05-01 16:40] sunjunkie commented on #133
Fixed by PR #250

[2018-05-01 16:40] #133 closed

[2018-05-01 16:41] #128 closed

[2018-05-01 16:53] sunjunkie commented on #127
You're right. We could update the tutorial screen to indicate the number of tries the user can make.

[2018-05-01 17:01] sunjunkie commented on #132
We should scale to aspect ratio so closing this.

[2018-05-01 17:01] #132 closed

[2018-05-01 17:10] SIMRAN1 commented on #127
@sunjunkie May I work on this??

[2018-05-01 20:03] #241 closed

[2018-05-02 13:58] justKD commented on #123
I'm working on this for my own needs. I'll keep this issue updated and post documentation once I have mine done.

[2018-05-09 15:32] justKD commented on #123
Live Demo
https://rawgit.com/justKD/powerup-iOS/develop/powerup-db-mapper/index.html

Beta version of the DB being mapped with GoJS. It parses the SQLite DB automatically and lays out the records in a tree. I'm waiting to see if there's any feedback in Slack, otherwise I'll submit a PR for this issue in a couple days. This tool could potentially live in a folder in the main powerup repo, and acces

[2018-05-09 17:00] justKD commented on #123
The GoJS devs just responded to my report on desktop Safari, and provided a beta release that fixes the desktop safari issue. I've updated the repo and demo.
https://forum.nwoods.com/t/laptop-touchpad-pinch-zoom-not-working-as-expected-in-desktop-safari/10395

[2018-05-09 17:15] justKD commented on #123
Updated to point at the primary powerup repo instead of using local sqlite binary.

[2018-05-09 21:06] sunjunkie opened #254 "Clean up scenario dialogs in the database"
## Description
There are orphaned records in the Powerup sqlite database in the Home table as shown in the diagram below. All scenario dialogs should be reviewed for errors. The new DB mapping tool can be used as a visualization of the scenario dialog tables.

## Error Sample
<img width="888" alt="dbmap" src="https://user-images.githubusercontent.com/399376/39839526-43d2c62c-5391-11e8-8e7b-f5e8bee

[2018-05-11 15:24] justKD opened #255 "Create controller class to handle intro and outro sequences"
## Description
As a developer,
I need to create a class to handle presentation and interaction for intro and outro sequences,
so that I can ensure the new functionality conforms to efficient model-controller principles and is sufficiently sandboxed from existing code.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] handles presenting parent view container
- [ ] references a separ

[2018-05-11 15:29] justKD opened #256 "Create controller and model to describe and present intro and outro sequences"
## Description
As a developer,
I need to create a controller class and model that will describe and present intro and outro sequences,
so that I can ensure specifications to add this content are clear and and the content is usable, and to conform to efficient model-controller principles.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] owns references to all necessary media
- [ ]

[2018-05-11 15:36] justKD opened #257 "Create class to handle popovers during a scenario"
## Description
As a developer,
I need create a controller class to handle presenting and interactions for in-sequence popovers,
so that I can ensure the new content follows efficient model-controller principles, and is sufficiently sandboxed from existing code.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [x] handles presenting parent view
- [x] handles presenting media from the m

[2018-05-11 15:38] justKD opened #258 "Create a model class to describe popovers"
## Description
As a developer,
I need to create a model class to describe popovers,
so that I can ensure structure for creating new content is clear and usable.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [x] owns references to media
- [x] describes animations
- [x] describes event order and timing
### Enhancement to Update [Optional]

## Definition of Done
- [ ] All of the requi

[2018-05-11 15:45] justKD opened #259 "Add functionality to access popover"
## Description
As a developer,
I need to add a new field to the Answer table in the database, and add logic to the scenario view controller,
so that the content can be identified and accessed with minimal changes to existing code.

## Mocks
n/a
## Acceptance Criteria
### Update [Required]
- [x] Answer table includes new field with neutral data for existing scenario events
- [x] Scenario view contr

[2018-05-11 15:51] justKD opened #260 "Create infrastructure to describe popups and story sequences cross-platform"
## Description
As a developer,
I need to be able to store records of popups and story sequences for cross-platform use,
and import the data for native use with swift.

## Acceptance Criteria
### Update [Required]
- [ ] Records describing instances of each model should be contained in a cross-platform medium
- [ ] that data should be populated into the prescribed model format when the app is launch

[2018-05-11 15:56] justKD opened #261 "Create documentation for contributing story event intro/outro sequences and popovers"
## Description
As a contributor,
I need documentation on how to create and organize content that conforms to the appropriate model classes,
so that I can ensure that anyone can reasonably create non-code content for these events.

## Mocks
n/a

## Acceptance Criteria
### Update [Required]
- [ ] wiki documentation for designing and implementing popover events
- [ ] wiki documentation for designing

[2018-05-16 15:43] justKD commented on #123
Here's the two tools I created to help with this issue:

Pulls in the mainDatabase.sqlite file from PowerUp dev branch, and visualizes the data per scenario.
https://github.com/justKD/Sqlite-GoJS-DB-Map

Tool for creating or updating new maps. Work can be saved and shared via local json files, exports CSV formatted for the PowerUp DB, exports static visual aids as SVG or PDF. Stable beta build as

[2018-05-16 15:43] justKD commented on #123
Sorry didn't mean to close... clicked the wrong button...

[2018-05-18 02:57] justKD opened #263 "Swift 4.1 deprecations"
## Description
As a developer,
I need to update deprecated code,
so that I can remove unnecessary compiler warnings and avoid future issues.

## Mocks
<img width="272" alt="screen shot 2018-05-17 at 9 54 27 pm" src="https://user-images.githubusercontent.com/24572031/40213840-315335a8-5a1d-11e8-9996-ced331c5b146.png">

## Acceptance Criteria
### Update [Required]
- [ ] String interpolation produces

[2018-05-18 03:08] justKD opened #264 "Xcode 9.3 Storyboards, iPhone X, serious break"
## Description
As a developer,
I need update all storyboard layout constraints,
so that I can ensure the views are properly handled for new constraint system that supports iPhone X.

Currently, opening the storyboard in Xcode 9.3 causes many (maybe most or even all) layout constraints to produce a new warning as Xcode tries to automatically update them. Left as is, it still works fine for older de

[2018-05-18 22:07] justKD opened #265 "Intro class does not interfere with scenario launch"
## Description
As a developer,
I need the intro story sequence to not change the way scenarios are already launched,
so that I can ensure it can be safely managed without breaking other game content.

## Acceptance Criteria
### Update [Required]
- [ ] Intro sequence can be invoked by simply overlaying a view on the existing view controller
- [ ] Disables interactions on the existing vc
- [ ] Re-en

[2018-05-18 22:12] justKD opened #266 "Intro class retrieves models from storage and presents the proper story sequence"
## Description
As a developer,
I need the story sequence class to present the data from a collection of models,
so that I can simplify the process for designing and including automated story sequences.

## Acceptance Criteria
### Update [Required]
- [ ] Story sequence class retrieves data from a model

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-05-18 22:18] justKD opened #267 "Story sequence class handles interactions for stepping through the events"
## Description
As a developer,
I need this class to handle stepping through events.

## Acceptance Criteria
### Update [Required]
- [ ] tapping the view triggers the next step in the sequence
- [ ] the ui gives a visual indication that the user should interact with the screen in order to move forward

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-05-18 22:34] justKD opened #268 "Setup UI tests for intro story sequences"
## Description
As a developer,
I need to design UI tests for StorySequencePlayer intros, so that I can ensure all scenarios will work as the app evolves.

## Acceptance Criteria
### Update [Required]
- [ ] Adds UI test for intro sequences on existing scenarios.
- [ ] Tests should check for an intro sequence for the given scenario, run through it, and assert the expected app state.

## Definition o

[2018-05-21 19:45] #258 closed

[2018-05-21 19:45] #259 closed

[2018-05-21 19:46] #257 closed

[2018-05-21 19:50] justKD opened #270 "Outro class does not interfere with scenario end, appropriately exits to map or starts minigame."
## Description
As a developer,
I want to ensure the outro sequence does not affect the current exit scenario mechanics,
so that the controlling class is safe to use.

## Acceptance Criteria
### Update [Required]
- [ ] StorySequenceController does not usurp the ScenarioViewController responsibility for handling navigation
- [ ] After an outro event, the game should navigate to map or minigame as ex

[2018-05-22 19:12] Rimjhim28 opened #272 "Add PreGame Setup"
## Description
As a developer,
I need add PreGame Setup feature,
so that the user can select proper NPCs for the scenario conversations..

## Mocks
The feature would have 3 parts:

1. Creating an initial screen for the user to choose the characters she wants to select

![screenshot_2018-05-17-20-58-07-582_powerup systers com powerup](https://user-images.githubusercontent.com/26908195/40187916-5b8e

[2018-05-22 20:09] sunjunkie commented on #265
Fixed via PR #271

[2018-05-22 20:09] #265 closed

[2018-05-24 12:03] justKD commented on #266
Combined with issue #256

[2018-05-24 12:03] #266 closed

[2018-05-24 12:04] justKD commented on #267
Combined with issue #256

[2018-05-24 12:04] #267 closed

[2018-05-26 00:36] sunjunkie commented on #263
Fixed by PR #275

[2018-05-26 00:36] #263 closed

[2018-05-28 19:18] sunjunkie commented on #256
implemented via PR #273

[2018-05-28 19:18] #256 closed

[2018-05-28 19:40] sunjunkie opened #276 "Add new Xcode workspace settings file to the repo."
## Description
As a developer,
I want to track the new workspace settings file introduced in Xcode 9.3,
so that I can work in Xcode more efficiently.

The new file is: Powerup.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist. Apple recommends that it be added to source control: "Xcode 9.3 adds a new IDEWorkspaceChecks.plist file to a workspace's shared data, to store the state o

[2018-05-29 03:05] justKD opened #277 "Setup UI testing for PopupEventPlayer"
## Description
As a developer,
I need design UI tests for popup events,
so that I can ensure they display and dismiss appropriately, either via waiting or manual dismissal.

## Acceptance Criteria
### Update [Required]
- [ ] Add UI test that launches a popup and tests releasing it via tap, asserting the expected app state.

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-05-29 04:33] justKD opened #278 "Add UI test target and prepare for UI tests"
## Description
As a developer,
I need add a UI test target,
so that I can create and organize automated UI tests.

## Acceptance Criteria
### Update [Required]
- [ ] UI test target is added to the project
- [ ] Default test example runs as do all existing unit tests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-05-30 18:57] #278 closed

[2018-05-30 23:55] justKD opened #280 "Animate class causes a memory leak"
## Description
As a developer,
I need to update the animation closures in Animate.swift to hold weak references to self,
so that I can make sure ARC can properly release views that use it.

## Acceptance Criteria
### Update [Required]
- [ ] Update Animate.swift
- [ ] Test to show the suspect views do get released as expected

## Definition of Done
- [ ] All of the required items are completed.
- [

[2018-05-31 22:40] sunjunkie opened #282 "View Controllers with minor differences should be merged into one"
## Description
As a developer,
I want to reduce duplication of view controllers,
so that I can reduce errors resulting from view controllers getting out of sync.

## Mocks
See Results View Controller and Completed View Controller in the storyboard.

## Acceptance Criteria
### Update [Required]
- [ ] View Controllers that have only minor differences from each other should be merged.

## Definition

[2018-06-01 22:07] justKD opened #285 "Create unit tests for StorySequencePlayer"
## Description
As a developer,
I need to add unit tests to ensure StorySequencePlayer and StorySequenceModel work as intended,
so that I can ensure they continue to work and not introduce new bugs as they evolve.

## Acceptance Criteria
### Update [Required]
- [ ] Should mock a sequence with each potential case for each possible step struct
- [ ] Should assert that the data passed during each step

[2018-06-01 22:09] justKD opened #286 "Create unit tests for PopupEventPlayer"
## Description
As a developer,
I need to add unit tests to ensure PopupEventPlayer and PopupEventModel work as intended,
so that I can ensure they continue to work and not introduce new bugs as they evolve.

## Acceptance Criteria
### Update [Required]
- [ ] Should mock popup event models for each potential case
- [ ] Should assert that the data passed results in the expected behavior

## Definiti

[2018-06-02 04:58] justKD opened #287 "StorySequencePlayer fading text - if left and right text both exist in a step, the left text fades out as soon as it's presented, which is not the desired behavior"
## Description
As a player,
I need the text in story sequences to not fade as soon as it appears on the screen,
so that I can actually read it and not be confused since the expected visual cue is wrong.

## Acceptance Criteria
### Update [Required]
- [ ] Text shouldn't be allowed to fade until the step after it is presented, rather than fading text as soon as it moves beyond the original position

[2018-06-02 07:41] justKD commented on #260
I changed the issue to better reflect my current goals. We were way past the need for a dummy data file.

[2018-06-05 23:53] #277 closed

[2018-06-07 20:25] sunjunkie opened #288 "Drop support for iOS 9"
## Description
As a developer,
I want to drop support for iOS 9,
so that I can remove unnecessary code.

## Notes:
As of June 5, 2018, 95% of iOS devices are running iOS 10/11 and iOS 12 is coming out this fall. (iOS tends to have a high rate of upgrade adoption.) iOS 10 is compatible with iPhone 5 and later.

## Acceptance Criteria
### Update [Required]
- [ ] project supports iOS 10 and above
- [

[2018-06-07 20:27] #268 closed

[2018-06-07 22:41] justKD opened #290 "Add accessibility ID for home scenario button, and use it with StorySequencePlayer UI test"
## Description
As a developer,
I need to add an accessibility identifier to the home scenario button on the MapViewController,
so that I can better optimize the StorySequencePlayer UI test that currently requires a check for the running OS version.

## Acceptance Criteria
### Update [Required]
- [ ] programmatically add the home scenario button accessibility identifier
- [ ] update the StorySequen

[2018-06-08 12:27] justKD opened #292 "StorySequencePlayer should animate swapping characters if the image is different between each step"
## Description
As a player,
I need to see character images animate if the image is a different character between steps,
so that it doesn't just instantly change or require that side to hide the image for an entire step.

## Acceptance Criteria
### Update [Required]
- [ ] StorySequencePlayer should include a position values for "swap"
- [ ] Further elaborate the value with "swap.near" ".mid" ".far"

[2018-06-10 19:13] justKD opened #293 "Update StorySequencePlayer to account for iPhoneX status bar area"
## Description
As a user,
I need the StorySequencePlayer view to account for the extra space on the iPhoneX,
so that I can see all of the text in the right-most text labels.

## Mocks
![image.png](https://images.zenhubusercontent.com/5afe50b44b5806bc2bd3a78d/785ab14c-8c15-44dc-b71e-35142f6c3503)

## Acceptance Criteria
### Update [Required]
- [ ] move StorySequencePlayer main view into a new super

[2018-06-11 17:49] #286 closed

[2018-06-11 19:29] #285 closed

[2018-06-11 19:50] justKD opened #294 "Fix warnings caused by xcode 9 auto layout update"
## Description
As a developer,
I need to fix the warnings that appeared after auto layout constraint rules were changed in xcode 9,
so that I can make sure the there are no layout conflicts, and the warning log isn't overflowing.

## Acceptance Criteria
### Update [Required]
- [ ] Update constraints to remove all warnings for main.storyboard

## Definition of Done
- [ ] All of the required items a

[2018-06-11 22:14] #287 closed

[2018-06-11 22:25] #294 closed

[2018-06-15 16:53] #270 closed

[2018-06-17 04:22] justKD opened #298 "Change PopupEventPlayer to play use a sound file string rather than a bool"
## Description
As a developer,
I need to allow popups to have different sounds,
so that I can make their use more flexible and customizable.

## Acceptance Criteria
### Update [Required]
- [ ] Change class to require a string filename rather than a bool for the doSound property
- [ ] Update relevant code in other classes

## Definition of Done
- [ ] All of the required items are completed.
- [ ] A

[2018-06-17 04:27] justKD opened #299 "Re-write unit tests for StorySequencePlayer and PopupEventPlayer"
## Description
As a developer,
I need re-think the method for unit testing StorySequencePlayer and PopupEventPlayer,
so that I can account for the changes that came with parsing an external dataset.

## Acceptance Criteria
### Update [Required]
- [ ] Write new unit tests that account for the external dataset update

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approva

[2018-06-18 21:29] #260 closed

[2018-06-20 21:54] #290 closed

[2018-06-21 23:43] #292 closed

[2018-07-07 12:14] Rimjhim28 opened #303 "Develop mini game - Kill the virus"
## Description
As a user,
I need add new mini game - Kill the virus,
so that I can maintain consistency between Android and iOS version.

The idea of the game is have a main screen with rotating viruses ( causing STDs ) that are needed to be killed with the help of a syringe. To kill the virus the color of syringe should match the color of the virus.
If the colors do not match the user looses a li

[2018-07-07 12:30] Rimjhim28 opened #304 "Develop mini game - Memory Match"
## Description
As a user,
I need to develop mini-game - Memory Match as developed in the Android version,
so that I can maintain consistency.

The main idea of the game is to make the user familiar with the tiles used in vocab match so the same tiles are used here. In each round the tile on the screen is needed to matched with the previous shown tile and yes/no is pressed accordingly.

## Mocks
1.

[2018-07-20 14:29] justKD opened #306 "Instructions/indicator for skipping a story sequence"
## Description
As a user,
I need an indicator that automated story sequences can be skipped via long press,
so that I can know about the convenience/accessibility function.

## Acceptance Criteria
### Update [Required]
- [ ] Add brief instruction indicating the functionality when a story sequence opens

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor

[2018-07-20 15:26] Rimjhim28 opened #307 "Develop mini game - Save the blood"
## Description
As a user,
I need to develop mini-game - Save blood as developed in the Android version,
so that I can maintain consistency.

The main idea of the game is to convey information that acute blood loss during menstruation may cause anemia. The user is presented with a scenario with some related options that can be treated as right/wrong/neutral. She is given a maximum of 7 seconds to c

[2018-07-20 15:38] Rimjhim28 opened #308 "Add level 2 for PowerUp"
## Description
As a user,
I need to add level 2 to PowerUp,
so that consistency can be maintained with the android version of PowerUp.

The Level 2 should launch after completion of level 1, by pressing MAP button on game completion screen. For now, the map and scenarios of level 1 are used. The map resets to it's initial state where only first scenario is unlocked and the rest are locked. The sce

[2018-07-24 04:01] #298 closed

[2018-07-24 07:02] #293 closed

[2018-07-24 18:47] sunjunkie commented on #306
Fixed via PR #310

[2018-07-24 18:47] #306 closed

[2018-07-27 13:51] justKD commented on #222
I'm going to update this issue to better represent the current state of the app.

I think the current level of abstraction (as far as cleaning up and aggregating re-usable strings) is fine now, but I also think they could be organized better in Strings.swift.

I suggest we update the strings to be grouped in enums, so it's easier to find and identify them throughout the app via code completion.

[2018-07-29 23:06] sunjunkie commented on #222
Yes, I agree. See also my comments on PR #238.

[2018-07-29 23:08] #255 closed

[2018-07-29 23:08] #299 closed

[2018-07-31 12:02] Rimjhim28 opened #312 "Add level transition screen"
## Description
A level transition screen should be shown after the middle school level is completed with proper characters and messages. The screen launches after completing the last scenario for middle school and directs to map screen for high school level.

## Mocks

![videotogif_2018 07 30_11 23 07](https://user-images.githubusercontent.com/26908195/43381120-3f1c2862-93f1-11e8-80ca-e053b3433a2f

[2018-07-31 12:08] Rimjhim28 opened #313 "Add Progress bars to game activity"
## Description
Four progress bars, health, healing, invisibility and telepathy, needs to be added to game activity. The main purpose of the progress bars is to reflect the quality of answers user chooses. The quality of answers is reflected by the points given for a particular answer.
The value for progress for invisibility and telepathy continuously increase depending on the points for a chosen a

[2018-08-07 22:05] #261 closed

[2018-08-07 22:05] justKD commented on #261
This documentation now exists at the following links:

[http://systers.io/powerup-story-designer/](http://systers.io/powerup-story-designer/)
[https://justkd.github.io/powerup-iOS/Classes/PopupEventPlayer.html](https://justkd.github.io/powerup-iOS/Classes/PopupEventPlayer.html)

[2018-08-23 18:35] swatisingh45 commented on #282
Hey! can I work on this issue?

[2018-08-23 23:39] sunjunkie commented on #282
Sure, go ahead. Let me know if you have any questions.

[2018-09-02 18:36] hashah88 commented on #288
Can I work on this issue?

[2018-12-10 08:09] sauravexodus commented on #235
I think RayWenderlich swift style guide is much detailed and up to date with the latest swift language.

https://github.com/raywenderlich/swift-style-guide

We can enforce this style guide using `swiftlint` by realm.io

[2019-07-18 14:22] vatsalkul opened #322 "Convert app to Swift 5"
## Description
As a developer,
I want to run project in latest swift,
so that I can write updated code in swift 5.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] App can be built successfully with no errors or warning after converting to swift 5.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2019-07-18 19:46] sunjunkie commented on #322
Where was that screen shot taken? Currently Powerup-iOS successfully builds with xCode 10.2.1  targeting Swift 4.0 and runs successfully on the latest iOS (12).

[2019-07-19 16:00] vatsalkul commented on #322
My copy of powerUp is out of sync from the upstream due to some reason, It is solved now. But conversion to swift 5 is available now, can I make a PR for that and edit this issue's description?

[2019-07-19 18:55] vatsalkulshreshtha commented on #322
Can I work on this issue and submit a PR?

[2019-07-19 18:56] vatsalkul commented on #322
Can I work on this issue and submit a PR?

[2019-07-19 20:54] sunjunkie commented on #322
Yes, go ahead. In the future, I think it would be better to close the issue and create a new one.

[2019-07-20 10:19] vatsalkul commented on #322
Sure!! I will keep that in mind.

[2019-08-05 06:59] #322 closed, assigned to nobody

[2020-01-12 20:33] anubhavpulkit opened #324 "Add Contact section to README"
## Description
Adding a "Contact" section for future contributors to reach out with their questions about active projects within the community. Additional instructions on how to reach out to maintainers of this project on GitHub and on Zulip.

[code]

I need to add an additional Contact section,
so that anyone who has questions about PowerUp iOS or want to contribute to the project can join the Zu

[2020-01-12 21:21] anubhavpulkit commented on #251
@mayburgos Can I work on this issue?

[2020-01-12 21:28] anubhavpulkit commented on #288
Can I look upon this?

[2020-01-23 18:53] mayburgos commented on #324
I'm going to wait on this. Not because you're incorrect. It's true. We don't have information on how to get involved through Slack.

But I'm not sure if we're continuing the communication through Slack.

[2020-01-23 21:04] anubhavpulkit commented on #324
ok.

[2020-01-25 11:53] anubhavpulkit opened #327 "Continue button is running out of screen in iPhone 11 Pro Max"
## Description
To Continue the game, Continue button is used which is not at a proper place. Some part of the Continue button is out of the screen when we open in iPhone 11 Pro Max Simulator in Orientation Landscape Right.

## Mocks
[
![systers](https://user-images.githubusercontent.com/47811606/73120308-44c8b200-3f92-11ea-8cab-fb5849e09d5e.png)
 ]

## Acceptance Criteria
### Update [Required]
- [

[2020-01-25 18:06] anubhavpulkit opened #328 "Error in Library Game"
## Description
The game which is present in Library after the interaction has errors, In the block where questions are displayed by some typo error it shows backend result file in all 10 questions.

## Mocks
[
![systers 2](https://user-images.githubusercontent.com/47811606/73125279-1fa46580-3fcb-11ea-8827-e06761feacb8.png)
]

## Acceptance Criteria
### Update [Required]
- [ ] [change the values of

[2020-01-27 21:42] sunjunkie commented on #328
Are you talking about the text "Test question: 7; answer: false"? This is as expected since we don't have actual content for the app yet.

[2020-01-27 21:54] anubhavpulkit commented on #328
ok, I thought this is an error.

[2020-01-27 21:55] anubhavpulkit commented on #327
@sunjunkie what about this one?

[2020-01-27 21:57] #328 closed, assigned to nobody

[2020-01-27 22:57] sunjunkie commented on #327
OK. Be sure to test all iPhone sizes. Use the iOS "safe area" as the alignment guide for the button location.

[2020-01-29 13:09] anubhavpulkit commented on #327
@sunjunkie "safe area" is only implemented in ios-11 or letter but our app is run at iOS-9.
So we do not use the "safe area" guideline while we put at a place where it looks far better.

[2020-01-29 21:34] sunjunkie commented on #327
You're right! So let's set the minimum iOS support to 11. Today, 93% of all active iPhones are running ios 12 or 13 so there is no reason we need to continue iOS 10 support. I will create an issue to set the minimum iOS support to iOS 11. Let's fix that one first and then fix this one with the safe area. That will make it easier to support iphone sizes in the future.
By the way, your pull request

[2020-01-29 21:41] sunjunkie opened #331 "Set minimum iOS support to 11.0"
## Description
As a developer,
I want to set the minimum iOS support to iOS 11,
so that I can remove unnecessary code and take advantage of newer iOS features.

## Notes:
As of January 30, 2020, 93% of iOS devices are running iOS 12 or iOS 13. (iOS tends to have a high rate of upgrade adoption.) Moving to iOS 11 will enable us to take advantage of new layout features in iOS 11+.

## Acceptance Cri

[2020-01-29 21:44] sunjunkie commented on #288
Superceded by issue #331

[2020-01-29 21:44] #288 closed

[2020-01-30 09:21] anubhavpulkit commented on #331
@sunjunkie Can I also change the Project Format form Xcode 3.2-Compatible to Xcode 9.3-Compatible

[2020-01-31 07:44] #331 closed, assigned to nobody

[2020-02-01 16:40] anubhavpulkit commented on #327
@sunjunkie solve in Pull Request #333

[2020-02-01 16:43] anubhavsingh16 commented on #324
@mayburgos @sunjunkie  Any update about this Issue?

[2020-02-02 19:57] anubhavpulkit commented on #264
Can I work on this issue?

[2020-02-03 18:10] sunjunkie commented on #264
@anubhavsingh16  What do you propose to do exactly? This issue involves some UI/graphics work in addition to coding.

[2020-02-04 17:31] anubhavpulkit commented on #264
@sunjunkie I want to check and update IBOutlets and IBAction to ensure code is still relevant and functional following storyboard updates.

[2020-02-04 19:29] #327 closed, assigned to nobody

[2020-02-04 19:34] sunjunkie commented on #264
This issue requires UI and graphic updates before IBOutlets and IBActions can be checked or updated. So it cannot be worked on until new graphic elements are created.

[2020-02-04 19:41] anubhavpulkit commented on #264
Ok so Can I Work on the update full-screen asses (such as backgrounds) to be aspect ratio agnostic (maybe extra neutral space around the edges)

[2020-02-05 19:01] anubhavpulkit opened #334 "Requesting App Ratings"
## Description
As a user If I want to give a rating this app, I need to go to the app store to give ratings.
I need to displays an in-app prompt that asks for a rating.

With the help of apple official API StoreKit we call the SKStoreReviewController An object that controls the process of requesting App Store ratings and reviews from users.

In which the system offers a consistent, nonintrusive wa

[2020-02-05 22:18] sunjunkie commented on #334
@anubhavsingh16 This new issue must be approved before you work on the fix or submit a PR. See
https://github.com/anitab-org/powerup-iOS/wiki/How-to-Contribute

[2020-02-05 22:37] sunjunkie commented on #264
No, that would only be a temporary fix. The full screen assets have to be recreated and the screen layout redone based on the new images. This will require a lot of discussion and UI/image development. This issue is not ready to be worked on until we get the graphics recreated.

[2020-02-07 12:09] anubhavpulkit commented on #334
@sunjunkie I get approval in IRC.

[2020-02-07 16:18] sunjunkie commented on #334
@anubhavsingh16 please review the guidelines for  contributing to Powerup-iOS https://github.com/anitab-org/powerup-iOS/wiki/How-to-Contribute

[2020-02-07 16:42] anubhavpulkit commented on #334
@sunjunkie  Ok Sorry, so what I have to do now? May I delete my Pull Request?

[2020-02-07 16:55] sunjunkie commented on #334
Yes, go ahead. You can also expand the issue description to include info about Apple guidelines and then add those requirements to the Update requirements. After that I’ll review for approval.

[2020-02-07 17:26] anubhavpulkit commented on #334
ok

[2020-02-07 18:01] anubhavpulkit commented on #334
@sunjunkie Please review my issue.

[2020-02-10 22:34] sunjunkie commented on #334
I approve this issue. (I added a requirement to the Update section.)

[2020-02-11 13:58] anubhavpulkit commented on #334
Ok, Thank You.

[2020-02-11 20:07] anubhavpulkit commented on #324
@mayburgos Can I send my PR now with an updated communication channel.

[2020-02-12 16:03] anubhavpulkit commented on #324
@sunjunkie please have a look

[2020-02-12 16:54] sunjunkie commented on #324
I defer to @mayburgos on this issue.

[2020-02-13 01:12] mayburgos commented on #324
Thanks @sunjunkie!

@anubhavsingh16  Can you mentor a beginner on this issue? I think it's very simple and would benefit someone who's beginning in open source.

I've also updated the original issue's details.

[2020-02-13 15:09] anubhavpulkit commented on #324
@mayburgos Ok

[2020-02-14 08:11] anubhavpulkit opened #337 "Update link of Docs."
## Description
As a user when I open [Links to the Documentation of 2016](https://github.com/anitab-org/powerup-iOS#documentation-of-powerup-ios) which is present at the end of Readme.
The Content which is present inside the [Link](https://docs.google.com/document/d/1N_-zmmjPn6D1H6wTdF4z66mFGT3af_FWbfGvLKkeY1w/edit) has some error.
I need to remove the Links to the Documentation of 2016. so that R

[2020-02-14 09:41] anubhavpulkit commented on #337
@sunjunkie Please have a look at this issue.

[2020-02-19 16:16] anubhavpulkit opened #340 "Change all reference from systers organization to anitab-org on README links."
## Description
Change all reference from `systers` organization to `anitab-org` on README links.

## Acceptance Criteria
### Update [Required]
- [x] [Change references from `systers` to `anitab-org`]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[2] hours

[2020-02-19 19:51] sunjunkie commented on #340
@anubhavsingh16 I approve this issue.

[2020-02-19 20:15] anubhavpulkit commented on #340
Thanks @sunjunkie Can I work on this issue?

[2020-02-19 21:18] anubhavpulkit commented on #282
@sunjunkie Can you give a little brief on this issue.

[2020-02-19 21:32] sunjunkie commented on #282
The 2 view controllers (Results View Controller and Completed View Controller) look identical. We should not have 2 identical view controllers. We should just have one in the storyboard and merge the underlying code.

[2020-02-19 22:54] anubhavpulkit commented on #282
Ok, I will try to solve this issue.

[2020-02-20 20:08] anubhavpulkit commented on #340
@sunjunkie In Links to the Documentation section of the readme 2016 link broken same as we discuss in #337 Can I remove that link also.

[2020-02-20 21:39] anubhavpulkit commented on #340
Solved in Pull Request #342

[2020-02-21 20:56] anubhavpulkit opened #344 "Smoke coming out of the house's chimney is overlaped by school"
## Description
A small error in which the school overlaps the smoke coming out of the house's chimney In the map.

## Mocks
![powerup](https://user-images.githubusercontent.com/47811606/75070945-5ada7b80-551a-11ea-8f9e-f40c1d895552.png)

## Acceptance Criteria
### Update [Required]
- [ ] [Changes in constrant of school in Map]

## Definition of Done
- [ ] All of the required items are completed.
-

[2020-02-21 20:57] anubhavpulkit commented on #344
@sunjunkie please have a look.

[2020-02-21 21:00] MANI14011998 commented on #344
Hey @anubhavsingh16  I am opening that issue too I have completed that too so can you passes it too me .
Thank you

[2020-02-21 21:13] anubhavpulkit commented on #344
@MANI14011998 Sorry but this issue is not approved by mentor @sunjunkie and I open this issue because I'm also working on this issue. Sorry @MANI14011998 please visit https://github.com/anitab-org/powerup-iOS/issues

[2020-02-21 22:10] anubhavpulkit opened #345 "Error in conversation with Macello in Home"
## Description
The user completes the Home scenario, then the outro sequence occurs. When the outro completes, the Home scenario screen shows briefly and then the Mine Sweeper games appear. This brief appearance of the Home scenario screen should not occur at all.

## Mocks

[powerup.mov.zip](https://github.com/anitab-org/powerup-iOS/files/4238218/powerup.mov.zip)

## Acceptance Criteria
### Updat

[2020-02-21 22:11] anubhavpulkit commented on #345
@sunjunkie please have a look.
Can I work on this issue?

[2020-02-21 22:13] MANI14011998 commented on #344
Ok @anubhavsingh16  if you really wants to work on it or investing your time in that thing which is already done you can go ahead ...

[2020-02-22 04:51] sunjunkie commented on #344
This issue is part of issue #264

[2020-02-22 04:51] #344 closed, assigned to nobody

[2020-02-22 08:09] MANI14011998 commented on #264
Hey @sunjunkie I have created new graphic images assets  for all this issue.Is that ok to reopen this issue again

[2020-02-22 09:10] anubhavpulkit commented on #282
@sunjunkie I will send PR on this issue today I'm working on this issue.

[2020-02-23 10:36] MANI14011998 commented on #243
@sunjunkie ma'am i am work on this issue .i will give pr tomorrow

[2020-02-24 09:53] anubhavpulkit commented on #282
@sunjunkie **NEED HELP** I stuck in the backend of CompletedViewController and ResultViewController How I can move the code of completedViewController to ResultViewController because it works fine without changing anything in code.

[2020-02-24 15:21] justkd commented on #264
This issue is still open. Those closed tags are on other issues that were directed to this particular one. If you have some assets you've made, maybe you could post some examples here, or a link where we can download them, so we can see how they address the issue and discuss what might need to happen to implement a fix?

[2020-02-24 18:45] sunjunkie commented on #243
@MANI14011998 OK.

[2020-02-24 18:48] vatsalkul commented on #264
Hey! @sunjunkie @justKD I have made some graphics of buttons used in the app. Please have a look and let me know if I can replace the older Start View Scene Components with new ones. I will add more graphical stuffs in the folder after approval.
[Drive Link](https://drive.google.com/drive/folders/1J-P4hQLq0oqGJI8bCcJRgYLj-A-SYF5f?usp=sharing)

[2020-02-24 19:35] sunjunkie commented on #282
@anubhavsingh16 Remove the unused view controllers and their code files and the run the app. If you haven't merged any code I would expect lots if issues.

[2020-02-24 19:41] vatsalkul commented on #127
Hey @sunjunkie I have updated the tutorial screen according to the above discussion. Please have a look and approve me to submit a PR. [Drive Link](https://drive.google.com/file/d/1c8FmbSC1sqrAsTI9ziwdzpvfdDw7NxjC/view?usp=sharing)

[2020-02-24 19:45] MANI14011998 commented on #264
![School-3 with chimney](https://user-images.githubusercontent.com/34857581/75185423-134b2e00-576c-11ea-8062-434f2173d616.png)
![WhatsApp Image 2020-02-25 at 1 05 38 AM](https://user-images.githubusercontent.com/34857581/75185430-16461e80-576c-11ea-988b-b5d237f7e6a0.jpeg)
old one
![Screenshot 2020-02-21 at 9 20 52 PM](https://user-images.githubusercontent.com/34857581/75185446-1e9e5980-576c-11ea-8

[2020-02-24 20:23] sunjunkie commented on #345
Yes. But let's add more detail to the issue description. The user completes the Home scenario, then the outro sequence occurs. When the outro completes, the Home scenario screen shows briefly and then the Mine Sweeper games appears. This brief appearance if the Home scenario screen should not occur at all.

[2020-02-24 20:35] MANI14011998 commented on #313
@sunjunkie can you please brief  me more about it

[2020-02-24 20:40] MANI14011998 commented on #251
can I do that @sunjunkie

[2020-02-24 20:47] anubhavpulkit commented on #282
Ok @sunjunkie, I will try to do as early as possible.

[2020-02-24 21:17] anubhavpulkit commented on #345
@sunjunkie is it right now?

[2020-02-25 06:06] sunjunkie commented on #345
Remove the 1st paragraph.

[2020-02-25 06:09] sunjunkie commented on #313
This issue is labeled as a "Port from Android" which means the Powerup-Android app has some functionality that the iOS app does not have. I don't think this issue is good for someone new to Powerup. But if you want to know more about this issue, you will have to run the Android app to understand the feature.

[2020-02-25 07:18] anubhavpulkit commented on #345
Thank you @sunjunkie

[2020-02-25 07:24] MANI14011998 commented on #313
I am running that issue in my phone seems quite bigger to solve but interesting to solve it .

[2020-02-25 10:39] anubhavpulkit commented on #282
@sunjunkie I solve this issue any update in my recent commit. I remove unused view controller as well as their code files and it run fine.

[2020-02-25 11:18] anubhavpulkit commented on #235
@sunjunkie I think we have to add RayWenderlich swift style because it is updated regularly and RayWenderlich swift style is clean and more standards.

[2020-02-25 11:27] MANI14011998 opened #349 "School_Selection_Bar UX Improvement"
## Description
As a User it's not easy to understand  in what tab I am in  until or unless i will observe the categories so it should show highlighted the button.
So that it will highlight the tab When Ever User Clicks On Selection Bar
ie-Hair Bar It will Change The Hair Into WhiteBackground Colour
## Mocks
![shop_selection_bar](https://user-images.githubusercontent.com/34857581/75242655-885f4780-

[2020-02-25 11:28] MANI14011998 commented on #349
@sunjunkie ma'am please review this issue

[2020-02-25 11:46] MANI14011998 opened #350 "Adding New Feature In the ShopView Wheel of Fortune"
## Description
As a User,
What If my karma Point is Just not enough to Buy new Item , Adding new feature Wheel Of fortune Button On the Bottom Of Home Button ,So when Ever User Clicks that a wheelViewController Or View , It Will appear And Gives The extra Point ,Knowing that it is Important not to Give too Much Free karma Points ,I will Add timer in it lets Say once in 8hour and karma point would

[2020-02-25 11:49] MANI14011998 commented on #350
@sunjunkie  ma'am is that Idea is Good ?
After Getting Approval  I will give you the asset design as well  to approve the design as well ..
Ps - the Design In MockUp Is not just a reference I will give You Better Design

[2020-02-25 11:51] anubhavpulkit commented on #243
@sunjunkie I think AboutView looks more beautiful if the description is in one body only. And describe our idea is fewer words.

[2020-02-25 12:07] MANI14011998 commented on #243
@anubhavsingh16 I am currently working On this Issue and send the Pull request As Well
if you wants to add some more idea you can mention on pr or wait until my pr accepted

[2020-02-25 12:11] anubhavpulkit commented on #243
@MANI14011998 I cannot send PR. I just give my suggestion I think its help you and organisation the same time.

[2020-02-25 15:39] sunjunkie commented on #349
1  - What does "Do this" mean in the description? Please describe what the user wants to do and why. Use the issue template.
2 - The icons you propose, by the way, don't follow the look and feel of the app. A common approach is to highlight the button in some way.

[2020-02-25 15:44] sunjunkie commented on #350
This is an entirely new feature which is really unnecessary at this point. We really need to improve the current state of the app to get it ready for production. Also, you do not state why the user would need this. Look at the issue template. https://github.com/anitab-org/powerup-iOS/blob/develop/ISSUE_TEMPLATE.md

[2020-02-25 15:44] #350 closed, assigned to nobody

[2020-02-25 16:51] MANI14011998 commented on #350
Oh really sorry ma'am I am not saying that it's necessary just I am increasing the gaming thing
And I will follow the template next time sorry for inconvenience ma'am

[2020-02-25 17:01] MANI14011998 commented on #349
Yeah i am not using the icon
It's just an example I will  make the highlighted button
 @sunjunkie  can I work on this issue

[2020-02-27 13:59] anubhavpulkit opened #351 "Problem in size of boxes of MinesweeperGame"
## Description
In Minesweeper game, we define boxSize = Double(size.width) * boxSizeRelativeToWidth this equetion is not fit for some screen size. Especially for screen size of iPhone X and above models boxSize is too large and create an annoying view.

## Mocks
![systers issue 222](https://user-images.githubusercontent.com/47811606/75451945-60f7ae80-5997-11ea-946c-051235088b48.png)

## Acceptance

[2020-02-27 14:04] anubhavpulkit commented on #351
@sunjunkie Please have a look, I think I solve this issue up to tomorrow. The equation which we are using for box size is only applicable up to the iPhone 8 plus devices.

[2020-02-27 14:55] MANI14011998 commented on #351
this issue comes under #264 @anubhavsingh16

[2020-02-27 15:23] MANI14011998 commented on #307
@sunjunkie ma'am can you tell on what basis user will get points actually its not showing the situation and i played on android as well i didn't understand the scoring and system plus can i take the assets from android app for all the games

[2020-02-27 15:55] anubhavpulkit commented on #351
@sunjunkie @MANI14011998  Ok so can I do that part-out of them or close this issue because in this issue assets are not required.

[2020-02-27 16:13] MANI14011998 commented on #303
I have made this app on my system just need to update data base

[2020-02-27 17:12] MANI14011998 commented on #127
Ma'am i am working on this issue .

[2020-02-27 17:19] anubhavpulkit opened #352 "Score label of Vocab Matching is not clearly visible"
## Description
Score label which is at the left-most corner is not visible clearly because of the curved-screen in iPhone X devices, `S` of Score is hidden.

## Mocks
![mineskipper 2](https://user-images.githubusercontent.com/47811606/75468352-1be17580-59b3-11ea-9a8f-f21109179802.png)

## Acceptance Criteria
### Update [Required]
- [x] [Changes in scoreBoxSpriteWidth value]
- [x] [Changes in score

[2020-02-27 17:21] anubhavpulkit commented on #352
@sunjunkie please have a look.

[2020-02-27 18:29] MANI14011998 commented on #304
@justKD and @sunjunkie I can made this easily can I work On this Issue

[2020-02-28 16:39] anubhavpulkit opened #353 "Score label is not functional when we replay the games"
## Description
When we replay `Vocab Matching Game`, `Minesweeper Game` and `Sink To Swim Game` final score is not updated in the upper left most side.

To update the value of score first we have to make a decision:-
i) we update a new value in total score by removing the old value of that game.
ii) we update the value if the new score is greater then the last score of that game.

## Mocks
![sys i

[2020-02-28 16:48] anubhavpulkit commented on #353
@sunjunkie Please have a look can I work on this issue?

[2020-02-28 16:49] anubhavsingh16 commented on #353
I'm working on this issue.

[2020-02-28 22:42] sunjunkie commented on #353
Yes, you can work on this. First check to see what the Android app does about this score.

[2020-02-28 22:46] sunjunkie commented on #127
@vatsalkul  Please submit the PR for your change.

[2020-02-28 22:49] sunjunkie commented on #352
@anubhavsingh16 Please edit the description to provide an estimate of hours. Also, remember to set the position using the safe area.

[2020-02-29 00:55] sunjunkie commented on #264
@vatsalkul The images should not have extra pixels. Crop the image as close as possible to the button - as in this screenshot:
![image](https://user-images.githubusercontent.com/399376/75597568-0881e900-5a4b-11ea-8d65-579d98928ff2.png)

[2020-02-29 01:07] sunjunkie commented on #264
Let's break up this issue into smaller pieces. One issue for each screen we want to update.
@vatsalkul you are welcome to work on the Start View scene.
@MANI14011998 you are welcome to take the Mine Sweeper Game.
@anubhavsingh16  you are welcome to take the map screen.
Each of you please create an issue for just one screen. Once I approve it, you can work on the image assets for that screen. Pleas

[2020-02-29 01:15] sunjunkie commented on #251
@anubhavsingh16 you are welcome to work on this issue. Please let me know if you don't want to so others can.

[2020-02-29 01:18] sunjunkie commented on #351
See my comments in issue #264

[2020-02-29 01:20] sunjunkie commented on #303
@MANI14011998 ok

[2020-02-29 01:21] sunjunkie commented on #304
@MANI14011998 yes.

[2020-02-29 01:39] sunjunkie commented on #349
@MANI14011998 yes.

[2020-02-29 01:43] sunjunkie commented on #235
@anubhavsingh16 Yes I agree.

[2020-02-29 10:00] vatsalkul opened #355 "Start View Scene does not support multiple screen aspect ratio"
## Description
As a user,
I need not to see extra blank space on my screen when opening the game for first time, there is a scope of improvement in UI and UX.
Start View is looking perfect on iPhone 8 Plus and below, but not on iPhone X or above.

## Mocks
<img width="797" alt="Screenshot 2020-02-29 at 3 20 13 PM" src="https://user-images.githubusercontent.com/30840527/75605242-1a28c680-5b07-11ea-

[2020-02-29 10:01] vatsalkul commented on #355
@sunjunkie Please review and allow me to send PR. 😇

[2020-02-29 10:27] vatsalkul commented on #222
Hey @sunjunkie I also think that enum would be good. I have gone through the code base and found that all Strings in Utilities/Strings.swift can be classified into some categories. like
CustomError, CustomWarning, CustomImage, CustomMessage, CustomeLabelText.
Let me know if I can work on this issue

[2020-02-29 10:47] anubhavpulkit commented on #251
@sunjunkie I want to work on this.

[2020-02-29 10:50] anubhavpulkit commented on #352
Ok, thanks @sunjunkie

[2020-02-29 13:08] MANI14011998 commented on #264
Ohk ma'am i will do that

[2020-02-29 13:41] justkd commented on #222
Hi @vatsalkul , I think this one is fairly safe to go ahead and work on. If you make the changes as proposed and submit a PR, we can review and test it and discuss any further changes that may be necessary.

[2020-02-29 14:07] vatsalkul commented on #222
@justKD Done! Hope you will like this approach.😇

[2020-02-29 14:11] vatsalkul commented on #264
@sunjunkie Please review my [Issue](https://github.com/anitab-org/powerup-iOS/issues/355)

[2020-02-29 14:15] vatsalkul commented on #272
Hey @sunjunkie I want to work on this issue!

[2020-02-29 14:16] anubhavpulkit commented on #264
Ok great

On Sat, 29 Feb 2020, 19:41 vatsalkul, <notifications@github.com> wrote:

[2020-02-29 21:44] anubhavpulkit commented on #345
@sunjunkie I need help on this issue?

[2020-02-29 21:53] #351 closed, assigned to nobody

[2020-02-29 22:07] anubhavpulkit commented on #251
@mayburgos @sunjunkie I send request to edit and update the template Because the template is currently at view-only mode.

[2020-02-29 22:20] sunjunkie commented on #355
@vatsalkul You can work on this.

[2020-02-29 22:22] sunjunkie commented on #345
Please explain your problem.

[2020-03-01 10:39] anubhavpulkit commented on #251
@sunjunkie I think no one did Outreachy in this project.

[2020-03-01 10:40] anubhavpulkit commented on #251
[Wiki Sidebar Update.zip](https://github.com/anitab-org/powerup-iOS/files/4271652/Wiki.Sidebar.Update.zip)

@sunjunkie Please have a look

[2020-03-01 18:17] anubhavpulkit opened #360 "Background image of Avatar view, Map View, Completed view, Scenario view and End view controller is not cover full screen in iPhone X models"
## Description
Background image of Avatar view, Map View, Completed view, Scenario view and End view controller are not in full screen because of we use safe-area alignment on background also it does not look as we want.

## Mocks

![systers987a](https://user-images.githubusercontent.com/47811606/75631143-69115180-5c16-11ea-879b-4ceeba25b0b8.png)

![syster987b](https://user-images.githubuserconten

[2020-03-01 18:19] anubhavpulkit commented on #360
@sunjunkie please have a look.

[2020-03-02 21:16] sunjunkie commented on #251
You need to add 2 important documentation items:

Differences between iOS and Android Apps
Terminology for OOC event classes and utility web apps

[2020-03-02 22:14] anubhavpulkit commented on #360
@sunjunkie can you please review this issue.

[2020-03-02 22:15] anubhavpulkit commented on #251
Ok @sunjunkie

[2020-03-02 22:21] anubhavpulkit commented on #251
Done
[Wiki Sidebar Update.zip](https://github.com/anitab-org/powerup-iOS/files/4278180/Wiki.Sidebar.Update.zip)

[2020-03-03 04:40] sunjunkie commented on #251
Looks good. I guess you can't submit a PR for this but I approve your solution. I'll fix it when my access permissions are corrected and then close this.

[2020-03-03 10:21] anubhavpulkit commented on #251
Thank You @sunjunkie

[2020-03-03 10:24] anubhavpulkit commented on #353
@sunjunkie Is it important to use Android algorithm to count final score, Can I propose my own algorithm/idea to count final score?

[2020-03-03 16:57] sunjunkie commented on #353
The apps should be consistent. Is there something wrong with the score calculation in the Android version?

[2020-03-03 17:01] sunjunkie commented on #272
@vatsalkul you can work on this. Note that it is marked as “hard” and will take a lot of time. You should use the same assets as the Android version.

[2020-03-03 17:12] sunjunkie commented on #360
@anubhavsingh16 This issue scope is too big - it overlaps with other issues being worked on. Create an issue for one screen at a time. Make sure it is not part of another issue.

[2020-03-03 17:12] #360 closed, assigned to nobody

[2020-03-03 17:20] anubhavpulkit commented on #345
Sorry, @sunjunkie I saw your reply but I want to try more times so I can't give reply to this issue but after some more efforts, I can't understand the relation sequence between popup Event and Story sequence.

[2020-03-03 17:21] anubhavpulkit commented on #360
@sunjunkie ok

[2020-03-03 17:22] anubhavpulkit commented on #360
@sunjunkie Can I make changes in two at a time in Avtar and end screen?

[2020-03-03 17:35] anubhavpulkit opened #361 "Background image of Avatar view is not cover full screen in iPhone X models."
## Description
Background image of Avatar view controller is not in full screen because of we use safe-area alignment on background also it does not look as we want.

## Mocks
![systers issue](https://user-images.githubusercontent.com/47811606/75802752-3f396580-5da3-11ea-8678-c8a8af13e1dc.png)

## Acceptance Criteria
### Update [Required]
- [x] [update background constraints ]

## Definition of Do

[2020-03-03 17:38] anubhavpulkit commented on #361
@sunjunkie Can I add `Completed view`, and `End view` controller in this issue because of no one working on these views.

[2020-03-03 21:32] sunjunkie commented on #345
These links provide some background-
Terminology: https://github.com/anitab-org/powerup-iOS/wiki/Terminology-for-OOC-event-classes-and-utility-web-apps
Story Designer readme:
https://github.com/anitab-org/powerup-story-designer
Cady's notes from GSoC 2018: https://github.com/anitab-org/powerup-iOS/wiki/GSoC-2018-Cadence-Holmes

[2020-03-03 21:34] sunjunkie commented on #360
Create an issue for each one separately.

[2020-03-03 21:35] sunjunkie commented on #361
No, let's keep them separate.

[2020-03-03 21:38] anubhavpulkit commented on #345
Ok, thank you @sunjunkie I read first one last day. I hope I get some help from 2 or 3 links.

[2020-03-03 21:39] anubhavpulkit commented on #361
Ok, @sunjunkie  Can I send PR for this one?

[2020-03-03 21:40] anubhavpulkit commented on #360
Ok Thank You @sunjunkie

[2020-03-03 21:40] sunjunkie commented on #361
yes

[2020-03-03 21:42] anubhavpulkit commented on #361
Thank You @sunjunkie I don't know why but I'm so happy when I have the approval to send PR🤓

[2020-03-03 21:47] anubhavpulkit opened #362 "Background image of Result view Controller is not cover full screen in iPhone X models"
## Description
Background image of the Result view controller is not in full screen because of we use safe-area alignment in Trailing, Leading, Bottom and top of the background image so it does not look as we want.

## Mocks
![sys 3848](https://user-images.githubusercontent.com/47811606/75822734-72412080-5dc6-11ea-90e9-996b2eb3c002.png)

## Acceptance Criteria
### Update [Required]
- [x] [update b

[2020-03-03 21:55] anubhavpulkit opened #363 "Background image of End view Controller is not cover full screen in iPhone X models"
## Description
Background image of End view controller is not in full screen because of we use safe-area alignment in Trailing, Leading, Bottom and top of the background image so it does not look as we want.

## Mocks
![systers987a](https://user-images.githubusercontent.com/47811606/75823031-06ab8300-5dc7-11ea-932b-63f694da156e.png)

## Acceptance Criteria
### Update [Required]
- [x] [update backg

[2020-03-03 22:02] anubhavpulkit commented on #363
@sunjunkie Is it ok too right to write the same description in all three issues?

[2020-03-03 22:08] anubhavpulkit commented on #362
Sorry, @sunjunkie I forget that I removed Completed View Controller.

[2020-03-03 22:26] sunjunkie commented on #363
You must use the safe area in iOS. That is the safest and easiest way to position UI elements for all screen sizes.  For one, our app should never cover the home indicator line in iPhone X and newer. There are ways to design the screen to look good using safe area.

[2020-03-04 06:04] #334 closed, assigned to nobody

[2020-03-04 06:07] #282 closed

[2020-03-04 06:09] #352 closed, assigned to nobody

[2020-03-04 09:36] anubhavpulkit commented on #363
@sunjunkie I think we use safe-area for UILabels, Buttons... which are functional. I think for background image if we use Superview then it more accurate and look good.

[2020-03-04 10:45] anubhavpulkit opened #364 "First letter of text in the storySequence is visible in X modes"
## Description
First letter of story sequence is hidden by the notch in X and new models.

## Mocks
![systers issue sequence story](https://user-images.githubusercontent.com/47811606/75871796-237da000-5e33-11ea-8f2f-a7d997339e5c.png)

![systers issue story sequence 3](https://user-images.githubusercontent.com/47811606/75871819-2a0c1780-5e33-11ea-8b2e-ffd0aa3bf3c7.png)

## Acceptance Criteria
### U

[2020-03-04 11:15] anubhavpulkit commented on #364
@sunjunkie please have a look.

[2020-03-04 17:47] sunjunkie commented on #364
You can work on this.

[2020-03-04 17:58] anubhavpulkit commented on #364
Thank You @sunjunkie

[2020-03-04 19:02] sunjunkie commented on #363
@anubhavsingh16 Yes, I like your plan.

[2020-03-04 20:38] anubhavpulkit commented on #363
So can I send my PR?

[2020-03-04 21:33] anubhavpulkit commented on #353
In Android version sequence of mini-games is different than iOS and calculation of score in Android is totally unpredictable I play 8-9 times a full game but I can't understand the logic of there Total score.

[2020-03-04 21:50] anubhavpulkit commented on #353
Actually when I tap reply in android Powerup app it opens new mini games so
but in some positions score label work fine.

On Thu, 5 Mar 2020, 03:03 Anubhav Singh, <notifications@github.com> wrote:

[2020-03-05 02:24] sunjunkie commented on #363
yes, whenever you are ready

[2020-03-05 18:56] anubhavsingh16 commented on #362
@YuChaoGithub Can I send my Pull Request?

[2020-03-05 19:04] anubhavpulkit commented on #353
@sunjunkie Are you available on this weekend for help?

[2020-03-05 21:09] #363 closed, assigned to nobody

[2020-03-05 21:18] sunjunkie commented on #353
@anubhavsingh16 Yes, I can check in periodically.

Go ahead and decide on an algorithm to update the score. Be sure to document that well in the code and in your PR description. We can always change this algorithm later if we need to.

[2020-03-05 21:19] anubhavpulkit commented on #353
Ok, Thank You @sunjunkie

[2020-03-05 22:48] isabelcosta opened #367 "Change references to systers travis link on README"
## Description

The README contains TravisCI link from systers instead of anitab-org. This should be changed on the URL.

## Acceptance Criteria
### Update [Required]
- [ ] Change references from TravisCI from `systers` account to `anitab-org`.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hours

[2020-03-05 22:53] isabelcosta opened #368 "Add couple of images of the app to the README"
## Description
As a contributor,
I need README with few images,
so that I can get a feel of what the app is about.

I suggest uploading few images from the current app screen on this issue comments, and then add the links to these files on the README, so it can be rendered and make it more appealing to new contributors. I really feel this can make people understand a bit more about the project bef

[2020-03-07 07:49] #355 closed, assigned to vatsalkul

[2020-03-07 13:01] isabelcosta opened #371 "Add Contact section on README"
## Description

As a contributor,
I need to know where I can reach out to the community,
so that I can discuss or see discussions of this project.

I would suggest adding a section such as "Contact us" or "How to reach us" to the README.
An example is what is on [mentorship-backend README](https://github.com/anitab-org/mentorship-backend/).

## Acceptance Criteria
### Update [Required]
- [ ] Add c

[2020-03-07 13:48] anubhavpulkit commented on #362
@sunjunkie Can I send PR for this issue?

[2020-03-08 06:13] sunjunkie commented on #362
@anubhavsingh16 Yes you can.

[2020-03-08 13:26] anubhavpulkit commented on #362
Ok, Thank You @sunjunkie

[2020-03-08 22:12] anubhavpulkit opened #373 "Completed View Controller present in Storyboard"
## Description
After merging Improved Start View #359 Complete View Controller again add in Storyboard.
And by this, we have now we have 2 view controllers (Results View Controller and Completed View Controller) look identical.

## Acceptance Criteria
### Update [Required]
- [x] [Delete Completed View Controller]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2020-03-08 22:50] #362 closed, assigned to nobody

[2020-03-09 05:55] aviralx10 opened #374 "Some last letter words disappear in iPhone X and later models during dialogue preview"
<img width="779" alt="Screenshot 2020-03-09 at 11 17 18 AM" src="https://user-images.githubusercontent.com/40929234/76186492-8044d600-61f8-11ea-8063-57ce7b969d60.png">

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2-3 hours

[2020-03-09 06:19] aviralx10 commented on #374
I want to work on this issue

[2020-03-09 07:04] sunjunkie commented on #374
I think this is the same issue as #364. You can work on that issue.

[2020-03-09 07:05] #374 closed, assigned to nobody

[2020-03-09 07:06] sunjunkie commented on #364
@aviralx10 You can work on this.

[2020-03-09 09:06] aviralx10 commented on #364
Thank you @sunjunkie

[2020-03-09 12:24] yugantarjain opened #375 "Karma Points shown incorrectly in Shop"
## Description
The Karma points of the player are shown incorrectly in the Shop View. This is happening because the text of the pointsLabel is getting truncated due to size constraints.
Tested on iPhone 7.

## Mocks
![IMG_4D342A693EE5-1](https://user-images.githubusercontent.com/31164725/76212463-8d7cb780-622e-11ea-9846-d5d2aea2c253.jpeg)
**Actual number of Karma Points = 21**
**Karma points shown

[2020-03-09 13:37] yugantarjain commented on #349
I've encountered this same issue and believe this to be its cause-
The buttons to select the categories(hair/clothes/accessories) are simply placed on top of the shop_category_bar image and are being used as a tap recogniser. The background image contains the text while the buttons are empty, this makes it difficult to highlight the selected category.

By replacing the background image(removing te

[2020-03-09 14:03] yugantarjain opened #376 "UI/UX improvements to show selected items in Shop"
## Description
As a user,
I need be able to see the items (hair/clothes/accessories) that I've selected,
this is important from a UI/UX point of view and makes the Shop scene more intuitive for me.

## Mocks
![IMG_0362](https://user-images.githubusercontent.com/31164725/76219647-27972c80-623c-11ea-91c0-f5fdef2f58cd.PNG)
#### The selected hair style is not recognizable.

## Acceptance Criteria
###

[2020-03-09 16:56] AjayThakur12 commented on #371
@isabelcosta  please assign it to me

[2020-03-09 16:57] AjayThakur12 commented on #368
@isabelcosta please assign it to me

[2020-03-09 17:08] isabelcosta commented on #371
@AjayThakur12 you can work on this :) I will assign this to you.

[2020-03-09 17:09] isabelcosta commented on #368
I assigned the other issue to you @AjayThakur12

[2020-03-09 20:16] sunjunkie commented on #361
This issue no longer exists.

[2020-03-09 20:16] #361 closed, assigned to nobody

[2020-03-09 20:17] sunjunkie commented on #364
@anubhavsingh16 In the future, please work on one issue at a time. If you can't fix the issue within a reasonable amount of time, let me know or it will be assigned to someone else. I'll review your PR.
@aviralx10 Please select another issue to work on.

[2020-03-09 20:22] sunjunkie commented on #375
I approve this issue.

[2020-03-09 20:23] sunjunkie commented on #376
I approve this issue.

[2020-03-09 20:26] sunjunkie commented on #371
@AjayThakur12 You need to submit a pull request on *this* repository. See https://help.github.com/en/desktop/contributing-to-projects/creating-a-pull-request.

[2020-03-09 20:27] yugantarjain commented on #376
@sunjunkie thank you for approving the issue.
Before working on it, I wanted to ask you whether the tick mark should be used to signify a bought item or a selected item?

[2020-03-09 20:29] anubhavpulkit commented on #364
Ok Sorry @sunjunkie

[2020-03-09 20:32] sunjunkie commented on #349
Yes, we have this issue in a number of places in the app. We do need to separate the buttons from the background entirely. This will also allow flexible placement of the buttons as well as the ability to highlight them. So this issue will require some changes to the existing background image.

[2020-03-09 20:34] sunjunkie commented on #376
I think the tick mark is confusing. Perhaps something like "buy", "purchased", and "selected" for the text might be clearer. What do you think?

[2020-03-09 20:36] anubhavpulkit commented on #364
@Aviral190694 issue 345 is free if you want to work and sorry I saw now after sending my PR if you want to give any suggestion or you have any other way to solve this issue then, please discuss it is helpful sorry.

[2020-03-09 20:51] anubhavpulkit commented on #353
In the current scenario, we have only one variable which store points is `score` which is not updating after the replay of the game. I want to propose 2 variables currentScore and maxScore.
if the user plays the first time and gain "x" points then we store currentScore and maxScore is equal to x and we use currentScore for score view(which come after game is over) and maxScore for the total score.

[2020-03-09 20:51] yugantarjain commented on #376
I think we can use the tick mark for the **selected** items. It may be a good complement to the text for a quick visual feedback.

[2020-03-09 20:53] anubhavpulkit commented on #353
@what you think about this?

@sunjunkie any suggestions?

[2020-03-09 21:04] anubhavpulkit commented on #364
and you are welcome to send Pull Request for this issue Thank You @aviralx10 and sorry @sunjunkie this is my mistake.

[2020-03-09 21:34] #364 closed, assigned to nobody

[2020-03-09 21:37] sunjunkie commented on #353
ok. sounds good.

[2020-03-09 21:39] sunjunkie commented on #376
OK, but let's make them smaller and a little less intrusive  so they don't cover the item. 😊

[2020-03-09 21:54] justkd commented on #345
Hi there. So just to be clear the PopupEvents and StorySequences are _unrelated_. They are separate things entirely. PopupEvents are essentially just notification popups and can be triggered anywhere. StorySequences are the semi-automated dialogue sequences that can occur before and after a scene.

StorySequences aren't pushed with their own view controller. They are just container in a UIView ove

[2020-03-10 10:58] anubhavpulkit commented on #353
@sunjunkie I want to add this issue in my proposal. And want to do it later after the proposal submission. Because I have an idea which is linked with this issue so can you give me permission to take some time and present my proposal, if you like my idea then we work on new method to calculate and use scores otherwise I solve this issue with the simple method which is explain above.

[2020-03-10 11:00] anubhavpulkit commented on #353
Thank You @sunjunkie

[2020-03-10 22:53] #371 closed, assigned to AjayThakur12

[2020-03-11 06:08] #375 closed, assigned to nobody

[2020-03-11 07:46] aviralx10 commented on #364
@anubhavsingh16 ,I just saw your pull request and i had figured out a solution by updating the margin (CG value) :/  ... no problem ..i'll now work on another issue.

[2020-03-11 08:46] aviralx10 opened #381 "ABOUT section untidy and not aligned"
<img width="761" alt="Screenshot 2020-03-11 at 2 11 24 PM" src="https://user-images.githubusercontent.com/40929234/76398134-57f8db00-63a2-11ea-8679-ba5b8753aaf0.png">
<img width="750" alt="Screenshot 2020-03-11 at 2 14 02 PM" src="https://user-images.githubusercontent.com/40929234/76398278-9c847680-63a2-11ea-823f-5badc9f3d84c.png">

## Definition of Done
- [ ] All of the required items are complet

[2020-03-11 08:48] aviralx10 commented on #381
I would like to work on this issue.

[2020-03-11 08:58] anubhavpulkit commented on #381
@aviralx10 This issue is already mentioned in the issue list.

[2020-03-11 08:59] anubhavpulkit commented on #364
Ok thank you @aviralx10

[2020-03-11 15:15] aviralx10 commented on #381
@sunjunkie can i please work on this issue?

[2020-03-11 17:27] sunjunkie commented on #381
There is another issue for the About View Controller (#243) and there is a pull request for fixing that (PR #348). Unfortunately, there is a conflict in that PR so it has not been merged yet.

[2020-03-11 17:27] #381 closed, assigned to nobody

[2020-03-12 01:09] yugantarjain opened #383 "Purchased item gets temporarily unavailable in Shop"
## Description
When an item is purchased in the Shop scene, it can get temporarily unavailable for the user and be required to be bought again.
This happens when after purchasing something the accessory category is changed(eg. hair, clothes, accessories) and on returning back the recently purchased item is shown as unowned.

The underlying reason is that the database is not fetched when a category

[2020-03-12 04:05] sunjunkie commented on #383
I approve this issue.

[2020-03-12 11:37] anubhavpulkit commented on #264
@sunjunkie I can't find any issue in map screen as mention above I think it is solved so Can I take the Mine Sweeper Game issue?

[2020-03-12 11:39] anubhavpulkit commented on #264
There is only one issue on the map which is Smoke of the chimney.

[2020-03-12 17:21] #376 closed, assigned to nobody

[2020-03-12 17:33] anubhavpulkit commented on #264
@sunjunkie So can I work on Minesweeper game issue, please.

[2020-03-12 19:38] #383 closed, assigned to nobody

[2020-03-12 19:43] anubhavpulkit commented on #353
@sunjunkie Please have a look.

[2020-03-12 19:48] sunjunkie commented on #264
@anubhavsingh16 There is a big issue with the map - The map should have a blackground image and separate images for the buildings. So there is a work to be done breaking that up.

Anyway, yes, create an issue for the mine sweeper game and I'll review it before you work on it.

[2020-03-12 20:00] anubhavpulkit commented on #264
Thank You so much @sunjunkie

[2020-03-12 20:10] anubhavpulkit opened #385 "Size of boxes of Minesweeper games is not fit for iPhone X and latest models."
## Description

As a user, I want to see all the boxes in the minesweeper game laid out appropriately on all iPhone sizes, so that I can play the game correctly on any iPhone.

## Mocks
![systers issue 222](https://user-images.githubusercontent.com/47811606/76562280-14e65700-64cb-11ea-9b0f-1f9da437ab0f.png)

## Acceptance Criteria
### Update [Required]
- [x] [Required change in boxSize equation]
-

[2020-03-12 21:35] anubhavpulkit opened #386 "Background image of Scenario View is not cover the whole screen in iPhone X models"
## Description
Background image of Scenario View is not cover the whole screen in the latest iPhone models. Because constraints which are used for the background image is not updated.

## Mocks
[
![systers987d](https://user-images.githubusercontent.com/47811606/76568588-26356080-64d7-11ea-9cf5-e6239d24ebb9.png)
]

## Acceptance Criteria
### Update [Required]
- [x] [Update Constraints of background

[2020-03-12 23:12] sunjunkie commented on #353
Have a look at what?

[2020-03-12 23:15] sunjunkie commented on #385
Let's start following the issue template. Specifically:

Description
As a [USER], I need [TO DO THIS], so that I can [ACCOMPLISH THAT].

[2020-03-12 23:16] sunjunkie commented on #386
Issue approved.

[2020-03-13 17:20] AjayThakur12 commented on #367
@isabelcosta please assign it to me

[2020-03-13 17:50] isabelcosta commented on #367
@AjayThakur12 this is for first timers only for this repository, so please look for other issues.

[2020-03-13 21:09] anubhavpulkit commented on #385
@sunjunkie I update the description Can you please have a look.

[2020-03-13 21:17] #386 closed, assigned to anubhavpulkit

[2020-03-13 21:24] sunjunkie commented on #385
You have to actually use this text specified in the template at the beginning of your description.
As a [USER], I need [TO DO THIS], so that I can [ACCOMPLISH THAT].

You must substitute the correct text for the words in all caps (the placeholder text). So something like:
As a user, I want to see all the boxes in the minesweeper game layed out appropriately on all iPhone sizes, so that I can play

[2020-03-13 21:26] anubhavpulkit commented on #385
Ok, I understand now Thank You @sunjunkie

[2020-03-13 21:44] anubhavpulkit commented on #385
@sunjunkie I'm facing a problem as a student I want to discuss with you. Actually, in today's project feedback sessions I'm so nervous and I can not explain my proposal properly. what I can do? Because my English is not good I understand well but can’t speak fluently and because of these language issues I’m nervous and can’t speak anything in the feedback session. Can you give any suggestion?

[2020-03-13 21:47] anubhavpulkit commented on #243
@sunjunkie Can I work on this issue.

[2020-03-13 21:49] anubhavpulkit commented on #353
Sorry @sunjunkie 🙄

[2020-03-13 22:05] sunjunkie commented on #385
This is not the appropriate venue for that discussion. I will just say that a carefully planned and well-thought-out  proposal carries more weight than a flawless presentation. I would focus on creating a comprehensive, detailed proposal for your application.

[2020-03-13 22:07] sunjunkie commented on #373
@anubhavsingh16 Can you please fix this issue before you work on any more? Thank you.

[2020-03-14 11:18] anubhavpulkit commented on #385
Done

[2020-03-14 13:21] AjayThakur12 commented on #367
okay @isabelcosta

[2020-03-14 20:42] isabelcosta commented on #367
I just noticed that this was done with #342
I will close this then

[2020-03-14 20:42] #367 closed, assigned to nobody

[2020-03-14 21:47] sunjunkie commented on #385
I removed the part about boxsize - that is an implementation detail and does not belong in the user story.

I assigned this to you but please fix #373 first.

[2020-03-14 21:48] sunjunkie commented on #243
You have a couple other issues to tackle first.

[2020-03-15 11:40] anubhavpulkit commented on #373
@sunjunkie This issue is solved automatically when I send PR for Update Scenario view because Updated Scenario view PR is open before @vatsalkul PR.

[2020-03-15 11:40] #373 closed, assigned to anubhavpulkit

[2020-03-15 11:42] anubhavpulkit commented on #243
Ok, @sunjunkie I work on this issue after completion of all pending issues. Thank You @sunjunkie

[2020-03-15 11:47] isabelcosta commented on #324
This was completed with PR #379

[2020-03-15 11:47] #324 closed, assigned to nobody

[2020-03-15 11:51] #340 closed, assigned to nobody

[2020-03-15 11:53] anubhavpulkit commented on #337
@isabelcosta This issue is not solved please add labels for first-timer only.

[2020-03-15 12:24] isabelcosta commented on #337
@anubhavsingh16 I don't understand this issue, can you elaborate more? The link you show is about GSoC16 documentation, but you talk about git commands on the issue description 😕

[2020-03-15 21:13] sunjunkie commented on #243
OK. Please also see the discussion on PR #348.

[2020-03-15 21:35] sunjunkie commented on #337
So if you go to the link and set Viewing mode to "Viewing", the doc comes up just fine. We  need to keep a link to this document for historical purposes. I don't use Google docs. Is there a way to create a new link does not give universal editing or commenting access?  Otherwise we could copy the doc and repost it without editing access.

[2020-03-16 22:18] anubhavpulkit commented on #385
@sunjunkie I send my PR today.Thank You

[2020-03-17 20:57] #385 closed, assigned to anubhavpulkit

[2020-03-17 22:20] sunjunkie commented on #243
@anubhavsingh16 you can work on this.

[2020-03-17 22:48] anubhavpulkit commented on #243
Thank you @sunjunkie

[2020-03-18 21:50] anubhavpulkit opened #389 "pros & cons scene is not shown"
## Description
As a user I didn't see any Pro and Cons scene after Minesweeper game,
I need to do changes in minesweeperGameScene.swift,
so that pro and cons UI is visible after Minesweeper mini-game.

## Acceptance Criteria
### Update [Required]
- [x] [changes in minesweeperGameScene.swift]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estim

[2020-03-18 22:56] anubhavpulkit opened #390 "Travis CI test cases is not running"
## Description
As a user, I saw Travis CI test cases are not working after moving from Systers to AnitaB.org, I need to do changes in Travis CI test link so that Travis CI test run as before.

## Acceptance Criteria
### Update [Required]
- [x] [changes in Travis CI test link

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[1] hours

[2020-03-19 15:44] anubhavpulkit commented on #389
@sunjunkie please review this issue

[2020-03-20 03:45] sunjunkie commented on #390
Approved. @anubhavsingh16 do you want to work on this?

[2020-03-20 03:48] sunjunkie commented on #389
What pros and cons do you mean?

[2020-03-20 14:31] anubhavpulkit commented on #389
@sunjunkie In the [documentation](https://docs.google.com/document/d/1-45bBWAL8oh5o_1bc42BXGDKTHlGrQW0PCN9gFtlt6U/edit) of 2017 GSoC, it is mention that No matter the game is successful or not, a pros & cons scene is shown when the continue button is clicked. that scene is not visible.

[2020-03-20 14:32] anubhavpulkit commented on #390
Yes @sunjunkie

[2020-03-20 18:01] sunjunkie commented on #389
That is old documentation. We should use the Story Designer for pros and cons. So you must create a story with Story Designer with pros and cons (use placeholder text only).

[2020-03-20 18:01] sunjunkie commented on #390
ok

[2020-03-20 18:23] anubhavpulkit commented on #389
ok

[2020-03-22 11:55] anubhavpulkit commented on #389
I'm Sorry @sunjunkie I'm a little busy in the last days because I'm travelling from College Hostel to my House because of Corona Virus.

[2020-03-22 11:58] anubhavpulkit commented on #389
@sunjunkie But I saw `pro` and `cons` is available in the codebase.

[2020-03-23 00:23] sunjunkie commented on #389
In 2018 we moved to the Story Designer as a way to provide information to the user rather than a plain screen. So we do want to show pros and cons but in a more appealing way.

[2020-03-23 07:25] anubhavpulkit commented on #389
ok @sunjunkie

[2020-03-23 07:53] anubhavpulkit commented on #390
@sunjunkie Only members of this organisation add this test to any repo. I'm not approved to add Travis CI test in PowerUp.

[2020-03-23 19:58] sunjunkie commented on #390
OK, I'll follow up on this with @mayburgos.

[2020-03-23 21:02] anubhavpulkit commented on #390
ok

[2020-03-26 17:21] anubhavpulkit commented on #337
Yes after set Viewing mode to "Viewing" the doc comes up just fine.
And Yes there is a way to create a new link of doc and does not give universal editing and commenting access.

[2020-03-26 17:23] anubhavpulkit commented on #337
@sunjunkie Can I send a PR for this issue to change doc link and change access settings.

[2020-03-26 20:01] sunjunkie commented on #337
Yes.

[2020-03-26 20:02] anubhavpulkit commented on #337
thank You @sunjunkie

[2020-04-03 13:36] sidvenu opened #392 "Consistency of Wiki Sidebar across Android and iOS repositories"
## Description
As a contributor,
I need a consistent wiki sidebar across Android and iOS repositories
so that I can get acquainted with the projects easily.

## Acceptance Criteria
Update the iOS wiki sidebar to a commonly agreed layout

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2020-04-03 14:57] sidvenu commented on #392
Closing in favour of #251.

[2020-04-03 14:57] #392 closed, assigned to nobody

[2020-04-03 20:27] anubhavpulkit commented on #251
@mayburgos @sunjunkie Can we use this updated wiki in the wiki bar.

[2020-04-03 20:37] anubhavpulkit commented on #264
@sunjunkie now only first issue is not solved in this list of issues so can you close this issue and make(or I open) a new one only for the first issue.

[2020-04-03 21:27] #337 closed, assigned to anubhavpulkit

[2020-04-03 21:38] sunjunkie commented on #251
I moved your changes into the wiki sidebar. Thank you @anubhavsingh16.

[2020-04-03 21:38] #251 closed

[2020-04-03 21:45] sunjunkie commented on #264
Ok. I'll take a look.

[2020-04-08 13:55] mayburgos commented on #390
@anubhavsingh16 Can you screenshot the error you encountered?

[2020-04-08 16:48] anubhavpulkit commented on #390
Hi, @mayburgos actually Cl test is not running when I send PR to PowerUp after we change our domain from Systers to AnitaB.org but from last PR #393  it is automatically running fine.

[2020-04-08 16:59] anubhavpulkit commented on #390
You can see the difference in these screenshots

When PowerUp is under Systers organisation CI test works fine you see example in the bottom cases but after the transition from systers to anitaB.org organisation, CI test is not working you can see an example in top cases.
![issue problem CI test](https://user-images.githubusercontent.com/47811606/78811690-d9ff1280-79e7-11ea-82e0-3e990156617d.png)

[2020-04-08 17:01] anubhavpulkit commented on #390
but from last PR it works fine automatically you can see the example on the top case.
![Untitled](https://user-images.githubusercontent.com/47811606/78812132-8e009d80-79e8-11ea-9eb2-5a6e0dd51457.png)

[2020-04-11 20:34] anubhavpulkit opened #394 "Final Score of First level"
## Description
As a user, I need to know my final score after first level,
I need to add a new UI view controller for the final score,
so that I can after completion of sink to swim main-game I know my final score.
## Acceptance Criteria
### Update [Required]
- [x] [A new UI view Controller.swift]
- [x] [A view controller]
- [x] [Add test for final score]
## Definition of Done
- [ ] All of the req

[2020-04-11 20:42] anubhavpulkit opened #395 "Make ReadMe.md more interactive"
## Description
As a user, I want to add some screenshots of PowerUp app, margins and redesign Readme.md
so that [Readme file looks more interactive and decent not so bulky].

## Acceptance Criteria
### Update [Required]
- [x] [Changes in Readme.md]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[2] hours

[2020-04-13 14:54] anubhavpulkit commented on #394
@sunjunkie please have a look this issue.

[2020-04-13 16:06] anubhavpulkit commented on #395
Any newcomer who wants to work on this issue?

[2020-04-13 16:19] nandini45 commented on #395
yeah i want to @anubhavsingh16

[2020-04-13 19:32] anubhavpulkit commented on #395
@isabelcosta Please have a look this issue and assign to @nandini45.

[2020-04-13 19:34] isabelcosta commented on #395
done @anubhavsingh16 :)

[2020-04-13 19:34] anubhavpulkit commented on #395
@isabelcosta Can I mentor this issue, please.

[2020-04-13 19:35] sunjunkie commented on #395
@anubhavsingh16 Regarding the description text ""I need [to do remove some points of Contributing and developing a feature and add some emojis and images]" - this is implementation and does not belong in the user story.

[2020-04-13 19:52] anubhavsingh16 commented on #395
@sunjunkie is it ok now? and please have a look updated commit of PR #393

[2020-04-13 19:59] isabelcosta commented on #395
@anubhavsingh16 what do you mean by mentor exactly? One good thing you could do is be more descriptive and clear in the issue description. If your issue is clear on the Acceptance Criteria and Definition of Done you are closer to helping the contributor understanding by themselves what they need to do ;)

What exactly are you suggesting with this issue, what are some suggestions you have for it to

[2020-04-13 19:59] sunjunkie commented on #395
The user story starts out "as a user". So what do I want as a user? The user does not care specifically about margins or adding screenshots, for example. What do you think the user wants from the readme that is not there and why? You should answer that question without thinking about how you want to fix the readme. :-)

[2020-04-13 20:09] sunjunkie commented on #395
BTW, I deleted one of your comments only because you mentioned an unrelated PR in the comment. That messes up the connections between issues and PRs...

[2020-04-13 20:13] sunjunkie commented on #394
So, let's rewrite this user story without implementation details as previously discussed.

[2020-04-13 22:26] sunjunkie commented on #390
@anubhavsingh16 Have you tried running the tests on your system?

[2020-04-14 10:01] anubhavpulkit commented on #395
As a user, I want to understand the PowerUp project in detail and there functions with some images,
I need [to add some images and remove some unnecessary things from README.md],
so that I can [Understand the function of PowerUp-iOS].

[2020-04-14 10:08] anubhavpulkit commented on #395
Actually @sunjunkie if you look out README of PowerUp-iOS, it looks like we describe the functionality of git in Readme, I can't find anything about PowerUp in Readme section.

[2020-04-14 10:10] anubhavpulkit commented on #390
@sunjunkie I think we can't run CI test on our systems it is integrated with GitHub.

[2020-04-14 14:28] nandini45 commented on #395
@anubhavsingh16 can you tell me any specific details which is required or some mandatory features so that i can edit and make the changes

[2020-04-14 17:34] anubhavpulkit commented on #395
@nandini45 You have to wait a little bit for approval of this issue.

[2020-04-15 04:20] sunjunkie commented on #390
Yes you can. It is an important part of submitting a PR. You must check the boxes when you submit a PR:
- I have added tests that prove my fix is effective or that my feature works
- New and existing unit tests pass locally with my changes

See:
https://www.raywenderlich.com/960290-ios-unit-testing-and-ui-testing-tutorial
https://devstreaming-cdn.apple.com/videos/wwdc/2019/413kpguqjv5fqp9/413/413_

[2020-04-15 04:34] sunjunkie commented on #395
@anubhavsingh16 yes, that’s exactly right. You can’t find anything about Powerup in the readme. *That* is the user’s problem. “Adding images” and “removing unnecessary things” does not describe what the user wants so it doesn’t belong in the user story. The user wants to understand something about the goals and functionality of the Powerup app. The user does not care how you convey that info to th

[2020-04-15 04:37] sunjunkie commented on #395
I am going to close this. We can start over with a better user story.

[2020-04-15 04:37] #395 closed, assigned to nandini45

[2020-04-15 20:44] anubhavpulkit commented on #390
Ok, Thank You @sunjunkie

[2020-04-15 21:38] anubhavpulkit opened #396 "Update Readme file"
## Description
As a user, I need to be able to easily find some documentation on the Powerup app so that I can understand what the app is all about.

## Acceptance Criteria
### Update [Required]
- [x] [Adding some documentation of the Powerup app]
### Enhancement to Update [Optional]
- [x] [Adding related screenshots, video clips, tutorials]

## Definition of Done
- [x] All of the required items a

[2020-04-15 21:40] nandini45 commented on #396
@anubhavsingh16
Can i work on it now?

[2020-04-15 21:44] anubhavpulkit commented on #396
@nandini45 Are you working on PowerUp-iOS or you know about PowerUp project?

[2020-04-15 21:48] nandini45 commented on #396
@anubhavsingh16
Yes I know about the project that is why I wanted to make the changes as readme is missing important details that's why

[2020-04-15 21:57] anubhavpulkit commented on #396
You are working on PowerUp- Android version?

[2020-04-16 05:28] nandini45 commented on #396
no i am not working on it specifically. if u are talking about the proposal i worked on a brainstorming idea

[2020-04-16 06:49] sunjunkie commented on #396
@anubhavsingh16 please check the remaining boxes in the description. Then I will,approve the issue.

[2020-04-16 09:54] anubhavpulkit commented on #396
Done @sunjunkie Please approve this issue.

[2020-04-17 03:43] sunjunkie commented on #396
You still have 1 remaining box to check. The issue is not fixed/done until a mentor approves.

[2020-04-17 15:52] anubhavpulkit commented on #396
@sunjunkie Actually some days later you said that do not check "approved by 1 mentor" box that's why I cannot check that box.

[2020-04-17 19:03] sunjunkie commented on #396
This issue is approved.

[2020-04-18 19:08] anubhavpulkit commented on #396
Thank You @sunjunkie

[2020-04-18 19:11] anubhavpulkit commented on #396
@nandini45 Any plans for this issue?

[2020-04-18 21:31] anubhavpulkit commented on #396
@sunjunkie I want to work on this issue after about view controller issue.

[2020-04-19 18:52] nandini45 commented on #396
@anubhavsingh16  we can add screenshots of the application some major screenshots. we can add a workflow diagram then the screenshots.
workflow in sense what the user can do what sort of game he can play and so.
and then we can have a detailed description too.

[2020-04-20 21:37] sunjunkie opened #398 "Update SQL library for Xcode 11"
## Description
As a developer,
I need to use the latest sql library in Xcode,
so that I can continue to develop and run the app in Xcode 11.

## Mocks
<img width="764" alt="Screen Shot 2020-04-20 at 2 33 49 PM" src="https://user-images.githubusercontent.com/399376/79801994-07b35800-8314-11ea-9fcd-62bf2ecdad9d.png">

## Acceptance Criteria
### Update [Required]
- [x] New library selected in Powerup

[2020-04-20 21:50] sunjunkie opened #399 "Unit test ShopViewControllerTests.testUpdateExhibition() is failing"
## Description
As a developer,
I need to all unit tests to pass,
so that I can continue to add/change code without introducing new bugs.

Note: Currently the test 'ShopViewControllerTests.testUpdateExhibition()' is failing.

## Acceptance Criteria
### Update [Required]
- [x] All unit tests pass

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Es

[2020-04-20 21:52] sunjunkie commented on #390
Closed in favor of #399

[2020-04-20 21:52] #390 closed, assigned to anubhavpulkit

[2020-04-21 23:17] sunjunkie commented on #396
@anubhavsingh16 There are 2 high priority issues that must  be fixed before this one.

[2020-04-21 23:40] sunjunkie commented on #396
It looks great.  But you reverted the 2nd question - "Why is Powerup needed?" :-)

So while you're at it: you repeat the same UIColor specifications 6 times.  It should be in a constant so any changes must done only once. Repeating code like that creates a chance for introducing a bug when making changes. Consider the following instead:

[code]

[2020-04-22 17:45] anubhavpulkit commented on #396
Ok @sunjunkie

[2020-04-22 18:49] anubhavpulkit commented on #398
@sunjunkie Can I work on this issue first?

[2020-04-22 19:24] anubhavpulkit commented on #398
@sunjunkie I think in this issue I have to only delete libsqlite3.dylib file from Xcode right?

[2020-04-22 20:49] sunjunkie commented on #396
I put that comment above in the wrong place!

[2020-04-22 20:55] sunjunkie commented on #398
No, there are 2 things listed that must be done. Delete the file and select the new library in the Powerup target in the Build Phases tab as shown in the image.

[2020-04-23 06:02] #243 closed

[2020-04-23 06:13] anubhavpulkit commented on #396
Its ok @sunjunkie

[2020-04-23 15:39] anubhavpulkit commented on #398
But after deletion of libsqlite3.dylib the new library libsqlite3.tbd is not visible in the Build Phases tab.
And after deletion of libsqlite3.dylib Powerup-iOS app is still running fine.

[2020-04-28 22:33] #398 closed, assigned to nobody

[2020-04-29 05:48] anubhavpulkit commented on #399
@sunjunkie Can I solve this one, Before readme issue?

[2020-04-29 06:48] sunjunkie commented on #399
Yes

[2020-04-29 07:08] anubhavpulkit commented on #399
Thank You @sunjunkie